﻿@page "/home"
@using ItendSolution.Models
@using ItendBlazor.Services
@inject UserService userService
@inject LocaleService localeService
@{
    if (userService.UserAuthenticated)
    {
        <body>
            <div class="header">
                <div>@localeService.Get("title_welcome") @userService.Alias</div>
            </div>
        </body>
    }
}

@code {

}
