﻿@page "/ModalManyDays"
@using ItendBlazor.Services
@using ItendSolution.Models
@using ItendSolution.Shared
@inject HttpClient Http
@inject LocaleService localeService
@inject UserService userService

<style>
    .input-grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .input-grid-radio {
        display: grid;
        grid-template-columns: 1fr;
        border-right: 1px solid black;
        padding-right: 5px;
    }

    .input-radio-right {
        margin-left: 20px;
    }

    .label-grayed {
        color: gray;
    }

    .label-not-grayed {
        color: black;
    }
</style>
<div>
    @{
        <div class="input-grid">
            <div class="input-grid-radio">
                <div>
                    <input type="radio" id="Worktime" value="Worktime" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Worktime) />
                    <label for="Worktime">@localeService.Get("label_day_type_worktime")</label>
                </div>
                <div>
                    <input type="radio" id="Overtime" value="Overtime" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Overtime) />
                    <label for="Overtime">@localeService.Get("label_day_type_overtime")</label>
                </div>
                <div>
                    <input type="radio" id="Oncall" value="Oncall" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Oncall) />
                    <label for="Oncall">@localeService.Get("label_day_type_oncall")</label>
                </div>
                <div>
                    <input type="radio" id="Holiday" value="Holiday" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Holiday) />
                    <label for="Holiday">@localeService.Get("label_day_type_holiday")</label>
                </div>
                <div>
                    <input type="radio" id="Sickness" value="Sickness" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Sickness) />
                    <label for="Sickness">@localeService.Get("label_day_type_sickness")</label>
                </div>
                <div>
                    <input type="radio" id="SickDay" value="SickDay" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.SickDay) />
                    <label for="SickDay">@localeService.Get("label_day_type_sickday")</label>
                </div>
                <div>
                    <input type="radio" id="PaidOff" value="PaidOff" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.PaidOff) />
                    <label for="PaidOff">@localeService.Get("label_day_type_paid_off")</label>
                </div>
                <div>
                    <input type="radio" id="UnpaidOff" value="UnpaidOff" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.UnpaidOff) />
                    <label for="UnpaidOff">@localeService.Get("label_day_type_unpaid_off")</label>
                </div>
            </div>
            <div>
                <input class="input-radio-right" type="radio" id="FD" value="FD" @onclick="@(e=>OnClick(e,1))" checked=@(AMPMO == 1) />
                <label for="FD">@localeService.Get("label_full_days")</label>
                <input class="input-radio-right" type="radio" id="Other" value="Other" @onclick="@(e=>OnClick(e,4))" checked=@(AMPMO == 4) />
                <label for="Other">@localeService.Get("label_other_times")</label>
                <br />
                <input class="input-radio-right" type="time" disabled="@IsDisabled" id="T1" @bind-value="@BoxStartTime" />
                <label class="@Grayed" for="T1">@localeService.Get("label_start")</label>
                <input class="input-radio-right" type="time" disabled="@IsDisabled" id="T2" @bind-value="@BoxEndTime" />
                <label class="@Grayed" for="T2">@localeService.Get("label_end")</label>
            </div>
        </div>
        <br/>
        <button @onclick="OnCancel" class="btn btn-secondary" style="float: left">@localeService.Get("btn_cancel")</button>
        <button @onclick="OnSubmit" class="btn btn-primary" style="float: right">@localeService.Get("btn_submit")</button>        
     }
</div>

        @code {

            [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
            [ParameterAttribute] public MyDateTime StartTime { get; set; }
            [ParameterAttribute] public MyDateTime EndTime { get; set; }

            private bool Loading = true;
            protected bool IsDisabled;
            protected int AMPMO = 1;   // 1 = full day, 2 = AM, 3=PM, 4=Other
            protected string Grayed = "label-grayed";
            protected ReportModel Report;
            protected DateTime BoxStartTime;
            protected DateTime BoxEndTime;

            public void OnChange(ChangeEventArgs args)
            {
                switch (args.Value.ToString())
                {
                    case "Worktime":
                        Report.Type = RestAPIReport.Worktime;
                        break;

                    case "Holiday":
                        Report.Type = RestAPIReport.Holiday;
                        break;

                    case "Sickness":
                        Report.Type = RestAPIReport.Sickness;
                        break;

                    case "SickDay":
                        Report.Type = RestAPIReport.SickDay;
                        break;

                    case "PaidOff":
                        Report.Type = RestAPIReport.PaidOff;
                        break;

                    case "UnpaidOff":
                        Report.Type = RestAPIReport.UnpaidOff;
                        break;

                    case "Overtime":
                        Report.Type = RestAPIReport.Overtime;
                        break;

                    case "Oncall":
                        Report.Type = RestAPIReport.Oncall;
                        break;
                }
            }

            public void OnClick(MouseEventArgs args, int ind)
            {
                Grayed = "label-grayed";
                IsDisabled = true;
                if (ind != 1)
                {
                    AMPMO = AMPMO == ind ? 1 : ind; // Full day becomes active if click twice same
                }
                else
                {
                    AMPMO = 1;
                }
                if (AMPMO == 4)
                {
                    Grayed = "label-not-grayed";
                    IsDisabled = false;
                }
            }

            private void OnSubmit()
            {
                switch (AMPMO)
                {
                    case 1:
                        Report.Start = new MyDateTime(userService.User.WorkModel.WorkStarts);
                        Report.End = new MyDateTime(userService.User.WorkModel.WorkEnds);
                        break;
                    case 4:
                        Report.Start.Hour = BoxStartTime.Hour;
                        Report.Start.Minute = BoxStartTime.Minute;
                        Report.End.Hour = BoxEndTime.Hour;
                        Report.End.Minute = BoxEndTime.Minute;
                        break;
                }
                Report.Start.Year = StartTime.Year;
                Report.Start.Month = StartTime.Month;
                Report.Start.Day = StartTime.Day;

                Report.End.Year = EndTime.Year;
                Report.End.Month = EndTime.Month;
                Report.End.Day = EndTime.Day;
                BlazoredModal.Close(ModalResult.Ok<ReportModel>(Report));
            }

            private void OnCancel()
            {
                IsDisabled = !IsDisabled;
                Grayed = IsDisabled ? "label-grayed" : "label-not-grayed";
                BlazoredModal.Cancel();
            }

            protected override async Task OnInitializedAsync()
            {
                if (Loading)
                {
                    BoxStartTime = new DateTime(StartTime.Year, StartTime.Month, StartTime.Day, StartTime.Hour, StartTime.Minute, 0);
                    BoxEndTime = new DateTime(EndTime.Year, EndTime.Month, EndTime.Day, EndTime.Hour, EndTime.Minute, 0);

                    Report = new ReportModel(userService.User);
                    Report.Type = RestAPIReport.Worktime;

                    localeService.Add("btn_cancel");
                    localeService.Add("btn_submit");

                    localeService.Add("label_day_type_worktime");
                    localeService.Add("label_day_type_unpaid_off");
                    localeService.Add("label_day_type_paid_off");
                    localeService.Add("label_day_type_sickday");
                    localeService.Add("label_day_type_sickness");
                    localeService.Add("label_day_type_holiday");
                    localeService.Add("label_day_type_overtime");
                    localeService.Add("label_day_type_oncall");
                    localeService.Add("label_full_days");
                    localeService.Add("label_other_times");
                    localeService.Add("label_start");
                    localeService.Add("label_end");
                    await localeService.UpdateFromServerAsync();
                    IsDisabled = true;
                    Loading = !true;
                }
            }
        }
