﻿@page "/UserDetails"
@using ItendSolution.Models
@using ItendBlazor.Services
@using Microsoft.Extensions.Configuration
@inject LocaleService localeService
@inject UserService userService
@inject IModalService Modal

<style>
    .grid-modal {
        display: grid;
        grid-template-columns: minmax(100px, auto) minmax(200px, 3fr);
        background-color: white;
    }

    .grid-modal-header {
        padding-left: 5px;
        font-size: 15px;
        text-align: left;
    }
    .grid-modal-item {
        padding-left: 5px;        
        font-size: 15px;
    }

    .grid-modal-item-2 {
        display: grid;
        padding-left: 5px;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }

    .grid-modal-item-3 {
        display: grid;
        padding-left: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    }
    .grid-modal-border {
        padding-bottom: 2px;
        border-bottom: 1px solid black;
    }

    input[type="checkbox"] {
        vertical-align: middle;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 10px;
        height: 18px;
        width: 18px;
    }

    select, input {
        border:none;
    }

</style>

<body>
    @if (!loading)
    {
    <EditForm Model="@userService" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="grid-modal">

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header grid-modal-top">@localeService.Get("label_company_id")</div>
            <input type="text" style="border:none" @bind-value="@User.CompanyId" />

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_alias")</div>
            <input type="text" style="border:none" @bind-value="@User.Alias"/>

            <div class=" grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_email")</div>
            <input type="text" style="border:none" @bind-value="@User.Email"/>

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_worktime_model")</div>
            <select @bind="User.WorkModel.WorkModelId">
                @{ 
                    for (int i = 0; i < WorkModels.Count; i++)
                    {
                        if (User.WorkModel.WorkModelId == WorkModels[i].WorkModelId)
                        {
                            <option selected="selected" value="@WorkModels[i].WorkModelId">@WorkModels[i].WorkModelName</option>
                        }
                        else
                        {
                            <option value="@WorkModels[i].WorkModelId">@WorkModels[i].WorkModelName</option>
                        }
                    }
                }
            </select>

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_working_country")</div>
            <select @bind="User.Country">
                @{
                    for (int i = 0; i < Culture.Country.Count; i++)
                    {
                        if (User.Country == Culture.Country[i])
                        {
                            <option selected="selected" value="@Culture.Country[i]">@Culture.Country[i]</option>
                        }
                        else
                        {
                            <option value="@Culture.Country[i]">@Culture.Country[i]</option>
                        }
                    }
                }
            </select>

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_locale")</div>
            <select @bind="User.Locale">
                @{
                    for (int i = 0; i < Culture.Locale.Count; i++)
                    {
                        if (User.Locale == Culture.Locale[i])
                        {
                            <option selected="selected" value="@Culture.Locale[i]">@Culture.Language[i]</option>
                        }
                        else
                        {
                            <option value="@Culture.Locale[i]">@Culture.Language[i]</option>
                        }
                    }
                }
            </select>

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_vacation")</div>
            <div class="grid-modal-item-2">
                <div>
                    <label for="AnnualVacation">@localeService.Get("label_annually")</label>
                    <input id="AnnualVacation" type="number" style="height:20px;width: 50px" @bind-value="User.Vacation"/>
                </div>
                <div>
                    <label for="VacationLeft">@localeService.Get("label_remaining")</label>
                    <input id="VacationLeft" type="number" style="height:20px;width: 50px" @bind-value="User.VacationLeft" />
                </div>
            </div>

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_sickdays")</div>
            <div class="grid-modal-item-2">
                <div>
                    <label for="AnnualSick">@localeService.Get("label_annually")</label>
                    <input id="AnnualSick" type="number" style="height:20px;width: 50px"  @bind-value="User.Sickdays" />
                </div>
                <div>
                    <label for="UsedSick" style="padding-left:5px">@localeService.Get("label_remaining")</label>
                    <input id="UsedSick" type="number" style="height:20px;width:50px"  @bind-value="User.SickdaysLeft" />
                </div>
            </div>

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_active")</div>
            <input id="Active" type="checkbox" @bind="@ActiveWrapper" />
            
            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_verified")</div>
            <input id="Verified" type="checkbox" @bind="@User.IsVerified"/>
            

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_use_perdiems")</div>
            <input id="Perdiems" type="checkbox" @bind="User.PerDiems"/>            

            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_role")</div>
            <div class="grid-modal-item-3">
                    <div>
                        <input id="User" type="checkbox" @bind="@User.IsUser" />
                        <label for="User">@localeService.Get("label_role_user")</label>
                    </div>
                    <div>
                        <input id="Accounting" type="checkbox" @bind="@User.IsAccounting" />
                        <label for="Accounting">@localeService.Get("label_role_accounting")</label>
                    </div>
                    <div>
                        <input id="Admin" type="checkbox" @bind="@User.IsAdmin" />
                        <label for="Admin">@localeService.Get("label_role_admin")</label>
                    </div>
            </div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-border"></div>
            <div class="grid-modal-header">@localeService.Get("label_extented_permissions")</div>
            <input id="Extend" type="checkbox" @bind="@User.ExtentedPermissions"/>
        </div>
        <br/><br />
        <button type="button" class="btn btn-secondary" @onclick="BlazoredModal.Cancel">@localeService.Get("btn_cancel")</button>
        <button type="button" class="btn btn-danger" @onclick="OnDelete">@localeService.Get("btn_delete")</button>
        <button type="button" class="btn btn-primary" @onclick="OnSubmit">@localeService.Get("btn_submit")</button>
    </EditForm>
    }
</body>

@code {
    private bool loading = true;
    private UserModel User;
    private SupportedCountriesModel Culture;
    private List<UserWorkModel> WorkModels;

    private bool ActiveWrapper = false;


    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public int UserId { get; set; }

    private async void OnSubmit()
    {
        User.WorkModel = await userService.GetWorkModel(User.WorkModel.WorkModelId);
        User.IsInactive = !ActiveWrapper;
        await userService.UpdateUser(User);
        await BlazoredModal.Close();
    }

    private async void OnDelete()
    {
        await userService.MarkForDeletion(User);
        await BlazoredModal.Close();
    }

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("label_company_id");
            localeService.Add("label_alias");
            localeService.Add("label_email");
            localeService.Add("label_worktime_model");
            localeService.Add("label_working_country");
            localeService.Add("label_locale");
            localeService.Add("label_vacation");
            localeService.Add("label_annually");
            localeService.Add("label_remaining");
            localeService.Add("label_sickdays");
            localeService.Add("label_active");
            localeService.Add("label_verified");
            localeService.Add("label_use_perdiems");
            localeService.Add("label_role");
            localeService.Add("label_role_user");
            localeService.Add("label_role_accounting");
            localeService.Add("label_role_admin");
            localeService.Add("label_extented_permissions");
            localeService.Add("btn_cancel");
            localeService.Add("btn_delete");
            localeService.Add("btn_submit");
            await localeService.UpdateFromServerAsync();

            User = await userService.GetUser(UserId);
            ActiveWrapper = !User.IsInactive;

            Culture = await localeService.GetSupportedCountries();
            WorkModels = await userService.GetWorkModelList();

            loading = !true;
        }
    }
}
