﻿@page "/ModalOneDay"
@using ItendBlazor.Services
@using ItendSolution.Models
@using ItendSolution.Shared
@inject HttpClient Http
@inject LocaleService localeService
@inject UserService userService

@if (!Loading)
{
<style>
    .input-grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .input-grid-radio {
        display: grid;
        grid-template-columns: 1fr;
        border-right: 1px solid black;
        padding-right: 5px;
    }

    .input-radio-right {
        margin-left: 20px;
    }

    .label-grayed {
        color: gray;
    }

    .label-not-grayed {
        color: black;
    }
</style>
    <div>
        <div class="input-grid">
            <div class="input-grid-radio">
                <div>
                    <input type="radio" id="Worktime" value="Worktime" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Worktime) />
                    <label for="Worktime">@localeService.Get("label_day_type_worktime")</label>
                </div>
                <div>
                    <input type="radio" id="Overtime" value="Overtime" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Overtime) />
                    <label for="Overtime">@localeService.Get("label_day_type_overtime")</label>
                </div>
                <div>
                    <input type="radio" id="Oncall" value="Oncall" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Oncall) />
                    <label for="Oncall">@localeService.Get("label_day_type_oncall")</label>
                </div>
                <div>
                    <input type="radio" id="Holiday" value="Holiday" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Holiday) />
                    <label for="Holiday">@localeService.Get("label_day_type_holiday")</label>
                </div>
                <div>
                    <input type="radio" id="Sickness" value="Sickness" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.Sickness) />
                    <label for="Sickness">@localeService.Get("label_day_type_sickness")</label>
                </div>
                <div>
                    <input type="radio" id="SickDay" value="SickDay" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.SickDay) />
                    <label for="SickDay">@localeService.Get("label_day_type_sickday")</label>
                </div>
                <div>
                    <input type="radio" id="PaidOff" value="PaidOff" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.PaidOff) />
                    <label for="PaidOff">@localeService.Get("label_day_type_paid_off")</label>
                </div>
                <div>
                    <input type="radio" id="UnpaidOff" value="UnpaidOff" @onchange="OnChange" checked=@(Report.Type==RestAPIReport.UnpaidOff) />
                    <label for="UnpaidOff">@localeService.Get("label_day_type_unpaid_off")</label>
                </div>
            </div>
            <div>
                <input class="input-radio-right" type="radio" id="FD" value="FD" @onclick="@(e=>OnClick(e,1))" checked=@(AMPMO == 1) />
                <label for="FD">@localeService.Get("label_full_day")</label>
                <input class="input-radio-right" type="radio" id="AM" value="AM" @onclick="@(e=>OnClick(e,2))" checked=@(AMPMO == 2) />
                <label for="AM">@localeService.Get("label_AM")</label>
                <input class="input-radio-right" type="radio" id="PM" value="PM" @onclick="@(e=>OnClick(e,3))" checked=@(AMPMO == 3) />
                <label for="PM">@localeService.Get("label_PM")</label>
                <input class="input-radio-right" type="radio" id="Other" value="Other" @onclick="@(e=>OnClick(e,4))" checked=@(AMPMO == 4) />
                <label for="Other">@localeService.Get("label_Other")</label>
                <br />
                <input class="input-radio-right" type="time" disabled="@IsDisabled" id="T1" @bind-value="@BoxStartTime" />
                <label class="@Grayed" for="T1">@localeService.Get("label_start")</label>
                <input class="input-radio-right" type="time" disabled="@IsDisabled" id="T2" @bind-value="@BoxEndTime" />
                <label class="@Grayed" for="T2">@localeService.Get("label_end")</label>
            </div>
        </div>
        <br>
        <button @onclick="OnCancel" class="btn btn-secondary">@localeService.Get("btn_cancel")</button>
        <button @onclick="OnSubmit" class="btn btn-primary">@localeService.Get("btn_submit")</button>
    </div>
}

@code {

    private bool Loading = true;
    protected bool IsDisabled = true;
    protected int AMPMO = 1;   // 1 = full day, 2 = AM, 3=PM, 4=Other
    protected string Grayed = "label-grayed";
    protected ReportModel Report;
    protected DateTime BoxStartTime;
    protected DateTime BoxEndTime;

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [ParameterAttribute] public MyDateTime ThisDay { get; set; }

    public void OnChange(ChangeEventArgs args)
    {
        switch (args.Value.ToString())
        {
            case "Worktime":
                Report.Type = RestAPIReport.Worktime;
                break;

            case "Holiday":
                Report.Type = RestAPIReport.Holiday;
                break;

            case "Sickness":
                Report.Type = RestAPIReport.Sickness;
                break;

            case "SickDay":
                Report.Type = RestAPIReport.SickDay;
                break;

            case "PaidOff":
                Report.Type = RestAPIReport.PaidOff;
                break;

            case "UnpaidOff":
                Report.Type = RestAPIReport.UnpaidOff;
                break;

            case "Overtime":
                Report.Type = RestAPIReport.Overtime;
                break;

            case "Oncall":
                Report.Type = RestAPIReport.Oncall;
                break;
        }
    }

    public void OnClick(MouseEventArgs args, int ind)
    {
        Grayed = "label-grayed";
        IsDisabled = true;
        if (ind != 1)
        {
            AMPMO = AMPMO == ind ? 1 : ind; // Full day becomes active if click twice same
        }
        else
        {
            AMPMO = 1;
        }
        if (AMPMO == 4)
        {
            Grayed = "label-not-grayed";
            IsDisabled = false;
        }
    }

    private void OnSubmit()
    {
        switch (AMPMO)
        {
            case 1:
                Report.FullDay = true; // <- This will also set start and end times therefore needs to be here
                if (Report.Type == RestAPIReport.Worktime)
                {
                    // This will be splitted into three different report items: AM, Lunch, PM
                    Report.Start = new MyDateTime(userService.User.WorkModel.WorkStarts);
                    Report.End = new MyDateTime(userService.User.WorkModel.WorkEnds);
                }
                break;
            case 2:
                Report.AM = true;
                break;
            case 3:
                Report.PM = true;
                break;
            case 4:
                Report.Start.Hour = BoxStartTime.Hour;
                Report.Start.Minute = BoxStartTime.Minute;
                Report.End.Hour = BoxEndTime.Hour;
                Report.End.Minute = BoxEndTime.Minute;
                Report.FullDay = false; // This clears also AM, PM...
                break;
        }

        Report.Start.Year = Report.End.Year = ThisDay.Year;
        Report.Start.Month = Report.End.Month = ThisDay.Month;
        Report.Start.Day = Report.End.Day = ThisDay.Day;

        BlazoredModal.Close(ModalResult.Ok<ReportModel>(Report));
    }

    private void OnCancel()
    {
        IsDisabled = !IsDisabled;
        Grayed = IsDisabled ? "label-grayed" : "label-not-grayed";
        BlazoredModal.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        if (Loading)
        {
            int h = userService.User.WorkModel.WorkStarts.Hours;
            int m = userService.User.WorkModel.WorkStarts.Minutes;
            BoxStartTime = new DateTime(ThisDay.Year, ThisDay.Month, ThisDay.Day, h, m, 0);

            h = userService.User.WorkModel.WorkEnds.Hours;
            m = userService.User.WorkModel.WorkEnds.Minutes;
            BoxEndTime = new DateTime(ThisDay.Year, ThisDay.Month, ThisDay.Day, h, m, 0);

            Report = new ReportModel(userService.User);

            Report.Type = RestAPIReport.Worktime;
            Report.FullDay = true;
            localeService.Add("btn_cancel");
            localeService.Add("btn_submit");

            localeService.Add("label_day_type_worktime");
            localeService.Add("label_day_type_unpaid_off");
            localeService.Add("label_day_type_paid_off");
            localeService.Add("label_day_type_sickday");
            localeService.Add("label_day_type_sickness");
            localeService.Add("label_day_type_holiday");
            localeService.Add("label_day_type_overtime");
            localeService.Add("label_day_type_oncall");
            localeService.Add("label_full_day");
            localeService.Add("label_AM");
            localeService.Add("label_PM");
            localeService.Add("label_Other");
            localeService.Add("label_start");
            localeService.Add("label_end");
            await localeService.UpdateFromServerAsync();
            IsDisabled = true;
            Loading = !true;
        }
    }
}