﻿@page "/ChangePassword"
@using ItendSolution.Models
@inject NavigationManager NavigationManager
@inject ItendBlazor.Services.UserService userService
@inject ItendBlazor.Services.LocaleService localeService

@if (!loading)
{
    <h3>@localeService.Get("title_change_password")</h3>
    <body>
        <div class="login">
            <input type="password" @bind-value="@passwordOld" placeholder="@localeService.Get("label_old_password")" name="user"><br>
            <input type="password" @bind-value="@passwordNew" placeholder="@localeService.Get("label_new_password")" name="password"><br>
            <input type="password" @bind-value="@passwordAgain" placeholder="@localeService.Get("label_password_again")" name="password"><br>
            <input type="button" value="@localeService.Get("btn_change")" @onclick="OnClick" />
        </div>        
    </body>
}

@code {
    private bool loading = true;

    private string passwordOld = string.Empty;
    private string passwordNew = string.Empty;
    private string passwordAgain = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("title_change_password");
            localeService.Add("label_old_password");
            localeService.Add("label_new_password");
            localeService.Add("label_password_again");
            localeService.Add("btn_change");
            await localeService.UpdateFromServerAsync();
            loading = !true;
        }
    }

    private async Task OnClick()
    {
        bool UserOk = await userService.ExistingUser(userService.Alias, passwordOld);
        if (UserOk)
        {
            string enc = string.Empty;
            PasswordHasher hash = new PasswordHasher();
            enc = hash.HashPassword(passwordNew);
            userService.ChangePassword(enc);
            NavigationManager.NavigateTo("/home");
        }
    }
}
