﻿@page "/perdiems"
@using ItendBlazor.Services
@using ItendSolution.Models
@inject HttpClient Http
@inject LocaleService localeService
@inject CalendarService calendarService

<style>
    .input-grid {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
    }
</style>

@{
    if (!loading)
    {
    <EditForm OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="input-grid">
            @{
                int i;
                int diff;

                MyDateTime today = new MyDateTime(start.Year, start.Month, start.Day);
                diff = MyDateTime.DayDiff(start, end);

                for (i = 0; i <= diff; i++)
                {
                    string idBr = "b:" + i.ToString();
                    string idLu = "l:" + i.ToString();
                    string idDr = "d:" + i.ToString();
                    string style = (today.WeekDay > 4) ? "background-color:lightcyan" : "background-color:white";
                    var ind = i;
                    <div style="@style">@today.GetDateString("-") @calendarService.Month.DayNamesShort[today.WeekDay]</div>
                    <div>
                        <input type="radio" id="@idBr" @onclick="@(e => OnChange(e, 0, ind))"/>
                        <label for="@idBr">@localeService.Get("label_breakfast")</label>
                    </div>
                    <div>
                        <input type="radio" id="@idLu" @onclick="@(e => OnChange(e, 1, ind))"/>
                        <label for="@idLu">@localeService.Get("label_lunch")</label>
                    </div>
                    <div>
                        <input type="radio" id="@idDr" @onclick="@(e => OnChange(e, 2, ind))"/>
                        <label for="@idDr">@localeService.Get("label_dinner")</label>
                    </div>
                    today.AddDays(1);
                }
            }
        </div>
        <br>
        <button type="submit" class="btn btn-primary">@localeService.Get("btn_submit")</button>
    </EditForm>
    }
}

@code
{
    private bool loading = true;
    private MyDateTime start = new MyDateTime();
    private MyDateTime end = new MyDateTime();

    private void OnChange(MouseEventArgs args, int meal, int ind)
    {
        switch (meal)
        {
            case 0:
                break;
            case 1:
                break;
            case 2:
                break;
        }
    }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    private void OnSubmit()
    {
        BlazoredModal.CloseAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {

            int i;
            int diff = MyDateTime.DayDiff(start, end);

            for (i = 0; i <= diff; i++)
            {
            }

            localeService.Add("label_breakfast");
            localeService.Add("label_lunch");
            localeService.Add("label_dinner");
            localeService.Add("btn_submit");
            await localeService.UpdateFromServerAsync();
            loading = !true;
        }
    }
}