﻿@page "/onUserlist"
@using System
@using ItendSolution.Models
@using ItendBlazor.Services
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject HttpClient Http
@inject LocaleService localeService
@inject UserService userService

<style>
    .grid-item {
        font-size: 10px;
        border: 1px solid lightgray;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
</style>

@{
    if (!loading)
    {
        <label style="font-size:15px;font-weight:bold">@localeService.Get("label_search")</label>
        <input type="text" @oninput="@((ui) => DoSearch((string)ui.Value))"/>
        <table class="table" style="align-self:center">
            <tbody>
                <tr>
                <td style="font-size: 15px; font-weight:bold" @onclick="(e => OnClickHeader(0))">@localeService.Get("label_company_id_short")</td>
                <td style="font-size: 15px; font-weight:bold" @onclick="(e => OnClickHeader(1))">@localeService.Get("label_alias")</td>
                <td style="font-size: 15px; font-weight:bold" @onclick="(e => OnClickHeader(2))">@localeService.Get("label_email")</td>
                </tr>
                @for (int i = 0; i < UserIndexes.Count; i++)
                {
                    var ind = UserList[UserIndexes[i]].Id;
                    <tr>
                        <td style="font-size: 15px; height: 25px; padding-bottom: 1px;" @onclick="@(e => OnClickRow(ind))">@UserList[UserIndexes[i]].CompanyId</td>
                        <td style="font-size: 15px; height: 25px; padding-bottom: 1px;" @onclick="@(e => OnClickRow(ind))">@UserList[UserIndexes[i]].Alias</td>
                        <td style="font-size: 15px; height: 25px; padding-bottom: 1px;" @onclick="@(e => OnClickRow(ind))">@UserList[UserIndexes[i]].Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private bool loading = true;
    private List<UserModel> UserList = null;
    private int Direction = 1;
    private int Field = 0; // == ID
    private List<int> UserIndexes;

    [CascadingParameter] public BlazoredModalInstance BlazoredModal { get; set; }
    [ParameterAttribute] public UserModel ParamUser { get; set; }

    public int UserCompare(UserModel u1, UserModel u2)
    {
        switch (Field)
        {
            // ID
            case 0: return Direction * u1.CompanyId.CompareTo(u2.CompanyId);
            // Alias
            case 1: return Direction * u1.Alias.CompareTo(u2.Alias);
            // Email
            case 2: return Direction * u1.Email.CompareTo(u2.Email);
        }
        return 0;
    }

    public async Task UpdateUserList()
    {
        UserList = await userService.GetUserList();
        UserIndexes = Enumerable.Range(0, UserList.Count)
                .Where(i => true)
                .ToList();
    }


    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("title_user_list");
            localeService.Add("label_search");
            localeService.Add("label_company_id_short");
            localeService.Add("label_alias");
            localeService.Add("label_email");
            localeService.Add("label_verified");
            localeService.Add("label_active");
            await localeService.UpdateFromServerAsync();
            await UpdateUserList();
            loading = !true;
        }
    }

    private void DoSearch(string val)
    {
        UserIndexes = Enumerable.Range(0, UserList.Count)
        .Where(i => (UserList[i].Alias.Substring(0, val.Length) == val) ||
                    (UserList[i].Email.Substring(0, val.Length) == val) ||
                    (UserList[i].CompanyId.Substring(0, val.Length) == val))
        .ToList();
    }

    public async Task OnClickRow(int ind)
    {
        UserModel ParamUser;
        ParamUser = await userService.GetUser(ind);
        await BlazoredModal.CloseAsync(ModalResult.Ok<UserModel>(ParamUser));
    }

    private void OnClickHeader(int ind)
    {
        UserList.Sort(UserCompare);
        Field = ind;
        Direction = -Direction;
    }
}

