﻿@page "/Accounting/AccountingHome"
@using System.IO;
@using System.Text;
@using ItendBlazor.Services;
@using ItendBlazor;
@using ItendSolution.Models;
@using ItendSolution.Shared;
@using Newtonsoft.Json;
@inject LocaleService localeService
@inject UserService userService
@inject HttpClient client
@inject IJSRuntime JSRuntime
@inject IModalService Modal

<style>
    .item1 {
        grid-area: header;
        font-weight: bold;
    }

    .item2 {
        grid-area: main;
    }

    .item3 {
        grid-area: right;
    }

    .item4 {
        grid-area: footer;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-areas: 'header header' 'main right' 'footer footer';
        padding: 10px;
    }

        .grid-container > div {
            text-align: left;
            padding: 20px 0;
            font-size: 20px;
        }
</style>

@if (!loading)
{
    <body>
        <div class="grid-container">
            <div class="item1" style="font-size:30px">@localeService.Get("title_reports")</div>
            <div class="item2">
                <select @bind="sYear">
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
                <br />
                <select @bind="sMonth">
                    <option value="1">1 @localeService.Get("month1")</option>
                    <option value="2">2 @localeService.Get("month2")</option>
                    <option value="3">3 @localeService.Get("month3")</option>
                    <option value="4">4 @localeService.Get("month4")</option>
                    <option value="5">5 @localeService.Get("month5")</option>
                    <option value="6">6 @localeService.Get("month6")</option>
                    <option value="7">7 @localeService.Get("month7")</option>
                    <option value="8">8 @localeService.Get("month8")</option>
                    <option value="9">9 @localeService.Get("month9")</option>
                    <option value="10">10 @localeService.Get("month10")</option>
                    <option value="11">11 @localeService.Get("month11")</option>
                    <option value="12">12 @localeService.Get("month12")</option>
                </select>
            </div>
            <div class="item3">
                <button class="btn btn-primary" @onclick="OnSelectUser">@localeService.Get("btn_select_person")</button>
                <textarea>@PersonInfo</textarea>
            </div>
            <div class="item4" style="text-align:center">
                <button class="btn btn-primary" @onclick="OnGetAttendanceReport">@localeService.Get("btn_get_montly_report")</button>
            </div>
        </div>
        <saveFileAs />
    </body>
}

@code {
    private bool loading = true;
    private string PersonInfo = string.Empty;
    private string sYear;
    private string sMonth;
    private UserModel User=null;

    public async Task OnSelectUser()
    {
        var frmModal = Modal.Show<ModalUserlist>("title_modal_select_user");
        var result = await frmModal.Result;
        if (!result.Cancelled)
        {
            User = (UserModel)result.Data;
            PersonInfo = User.Alias + "\n" + User.Email;
        }
        else
        {
            User = null;
        }
    }

    private async Task OnGetAttendanceReport()
    {
        UserRESTAPI Req = new UserRESTAPI();
        Req.Action = RestAPIUser.GetReport;
        UserRESTAPI Res;

        Req.RequestingUser = userService.User;
        Req.ReportList = new ReportContainer();
        Req.ReportList.PeriodStart = new MyDateTime();
        Req.ReportList.PeriodStart.Year = int.Parse(sYear);
        Req.ReportList.PeriodStart.Month = int.Parse(sMonth);
        Req.User = User;

        var json = JsonConvert.SerializeObject(Req);
        var data = new StringContent(json, Encoding.UTF8, "text/json");
        var client = new HttpClient();
        var response = await client.PostAsync(Conf.MakeServerAddress("api/User"), data);
        var result = response.Content.ReadAsStringAsync().Result;
        Res = JsonConvert.DeserializeObject<UserRESTAPI>(result);
        await JSRuntime.InvokeAsync<string>("saveAsFile", "Report.xlsx", Res.BinaryData).AsTask();
    }


    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            PersonInfo = "...";
            sYear = DateTime.Today.Year.ToString();
            sMonth = DateTime.Today.Month.ToString();

            localeService.Add("btn_get_montly_report");
            localeService.Add("btn_select_person");
            localeService.Add("title_reports");
            localeService.Add("title_modal_select_user");
            localeService.Add("month1");
            localeService.Add("month1");
            localeService.Add("month2");
            localeService.Add("month3");
            localeService.Add("month4");
            localeService.Add("month5");
            localeService.Add("month6");
            localeService.Add("month7");
            localeService.Add("month8");
            localeService.Add("month9");
            localeService.Add("month10");
            localeService.Add("month11");
            localeService.Add("month12");
            await localeService.UpdateFromServerAsync();
            loading = !true;
        }
    }
}
