﻿@page "/AdminPages/ModalAddUser"
@using ItendBlazor.Services
@using ItendSolution.Models
@inject LocaleService localeService
@inject UserService userService
@inject IModalService Modal


<style>
    .grid-menu {
        display: grid;
        grid-template-columns: repeat(2,200px);
    }

    .grid-menu-text {
        color: black;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
    }

    div.pointer {
        cursor: pointer;
    }

    div.label {
        font-size: 15px;
        font-weight: bold;
    }

    .input-grid {
        display: grid;
        grid-template-columns: 150px 300px;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    }
</style>

@if (!loading)
{
    <EditForm Model="@userService" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="input-grid">
            <div class="label">@localeService.Get("label_company_id")</div>
            <div>
                <input type="text" size="38" @bind-value="NewUser.CompanyId">
            </div>
            <div class="label" style="@strErrorAlias">@localeService.Get("label_alias")</div>
            <div>
                <input type="text" size="38" @bind-value="NewUser.Alias" placeholder="@localeService.Get("label_nickname")"><br>
            </div>

            <div class="label" style="@strErrorEmail">@localeService.Get("label_email")</div>
            <div>
                <input type="text" size="38" placeholder="email@sample.com" @bind-value="NewUser.Email"><br>
            </div>

            <div class="label">@localeService.Get("label_locale")</div>
            <div>
                <select name="Language" id="Language" @bind="NewUser.Locale">
                    @{
                        int i;
                        for (i = 0; i < CountryList.Language.Count; i++)
                        {
                            if (NewUser.Locale == CountryList.Locale[i])
                            {
                                <option selected="selected" value="@CountryList.Locale[i]">@CountryList.Language[i]</option>
                            }
                            else
                            {
                                <option value="@CountryList.Locale[i]">@CountryList.Language[i]</option>
                            }

                        }
                    }
                </select>
            </div>

            <div class="label">@localeService.Get("label_worktime_model")</div>
            <div>
                <select @bind="NewUser.WorkModel.WorkModelId">
                    @{
                        // Have to use string or write conversion method....
                        foreach (UserWorkModel w in WorkModelList)
                        {
                            if (NewUser.WorkModel.WorkModelId == w.WorkModelId)
                            {
                                <option selected="selected" value="@w.WorkModelId">@w.WorkModelName</option>
                            }
                            else
                            {
                                <option value="@w.WorkModelId">@w.WorkModelName</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="label">@localeService.Get("label_working_country")</div>
            <div>
                <select @bind="NewUser.Country">
                    @{
                        foreach (string c in CountryList.Country)
                        {
                            if (NewUser.Country == c)
                            {
                                <option selected="selected" value="@c">@c</option>
                            }
                            else
                            {
                                <option value="@c">@c</option>
                            }

                        }
                    }
                </select>
            </div>

            <div class="label">@localeService.Get("label_role")</div>
            <div>
                <select name="Role" id="Role" @bind="tmpRole">
                    @{
                        tmpRole = "0";
                        <option value="0">@localeService.Get("label_role_user")</option>
                        <option value="1">@localeService.Get("label_role_accounting")</option>
                        <option value="2">@localeService.Get("label_role_admin")</option>
                    }
                </select>
            </div>
            <div class="label">@localeService.Get("label_vacation_days")</div>
            <div>
                @{
                    NewUser.Vacation = 20.0f;
                    <input type="number" size="38" @bind-value="NewUser.Vacation"><br>
                }
            </div>
            <div class="label">@localeService.Get("label_sickdays")</div>
            <div>
                @{
                    NewUser.Sickdays = 2.0f;
                    <input type="number" size="38" @bind-value="NewUser.Sickdays"><br>
                }
            </div>
            <div class="label">@localeService.Get("label_use_perdiems")</div>
            <div>
                @{
                    <InputCheckbox @bind-Value="NewUser.PerDiems" />
                }
            </div>
        </div>
        <br />
        <button type="button" class="btn btn-secondary" style="float:left" @onclick="BlazoredModal.CancelAsync">@localeService.Get("btn_cancel")</button>
        <button type="button" class="btn btn-primary" style="float:right" @onclick="OnSubmit">@localeService.Get("btn_submit")</button>
    </EditForm>
}

@code {

    private bool loading = true;

    private UserModel NewUser;

    private SupportedCountriesModel CountryList;

    private List<UserWorkModel> WorkModelList;

    private string tmpWorkModel;
    private string tmpRole;

    // Inform about errors with these
    private string strErrorAlias = "";
    private string strErrorEmail = "";

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    private async void OnSubmit()
    {
        if (NewUser.Alias.Length < 2)
        {
            strErrorAlias = "background-color:red";
        }
        else
        {
            strErrorAlias = "";
            if (NewUser.Email.Length < 4)
            {
                strErrorEmail = "background-color:red";
            }
            else
            {
                strErrorEmail = "";
                NewUser.Cid = userService.User.Cid;
                NewUser.SickdaysLeft = NewUser.Sickdays;
                NewUser.VacationLeft = NewUser.Vacation;

                NewUser.WorkModel = await userService.GetWorkModel(NewUser.WorkModel.WorkModelId);

                NewUser.IsUser = false;
                NewUser.IsAccounting = false;
                NewUser.IsAdmin = false;

                switch (int.Parse(tmpRole))
                {
                    case 0:
                        NewUser.IsUser = true;
                        break;
                    case 1:
                        NewUser.IsAccounting = true;
                        break;
                    case 2:
                        NewUser.IsAdmin = true;
                        break;
                }
                await userService.AddUser(NewUser);
                await BlazoredModal.CloseAsync();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("label_company_id");
            localeService.Add("label_alias");
            localeService.Add("label_nickname");
            localeService.Add("label_email");
            localeService.Add("label_locale");
            localeService.Add("label_working_country");
            localeService.Add("label_role");
            localeService.Add("label_vacation_days");
            localeService.Add("label_sickdays");
            localeService.Add("btn_submit");
            localeService.Add("btn_cancel");
            localeService.Add("label_role_user");
            localeService.Add("label_role_admin");
            localeService.Add("label_role_accounting");
            localeService.Add("label_worktime_model");
            localeService.Add("label_use_perdiems");

            await localeService.UpdateFromServerAsync();

            CountryList = await localeService.GetSupportedCountries();
            WorkModelList = await userService.GetWorkModelList();

            NewUser = new UserModel();
            loading = !true;
        }
    }
}
