﻿@page "/AdminPages/AdminUserList"
@using System
@using ItendSolution.Models
@using ItendBlazor.Services
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject HttpClient Http
@inject LocaleService localeService
@inject UserService userService
@inject IModalService Modal
<style>
    .grid-container {
        display: grid;       
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    }

    .grid-header {
        padding-left: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        border-bottom: 2px solid black;
        border-left: 1px solid black;
    }

    .grid-header-right {
        padding-left: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        border-bottom: 2px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .grid-item {
        font-size: 15px;
        border: 1px solid lightgray;
        border-bottom: 2px solid black;
        border-left: 1px solid black;        
    }
    .grid-item-right {
        font-size: 15px;
        border-bottom: 2px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

</style>

<body>
    @{
        if (!loading)
        {
            <h2>@localeService.Get("title_user_list")</h2>
            <br />
            <label style="font-size:25px;font-weight:bold">@localeService.Get("label_search")</label>
            <input type="text" @oninput="@((ui) => DoSearch((string)ui.Value))" />
            <button style="width:100px; margin-left:100px" @onclick="OnAddUser">@localeService.Get("btn_add_user")</button>
            <br />
            <div class="grid-container">
                <div class="grid-header" @onclick="@(e => OnClickHeader(0))">@localeService.Get("label_company_id")</div>
                <div class="grid-header" @onclick="@(e => OnClickHeader(1))">@localeService.Get("label_alias")</div>
                <div class="grid-header" @onclick="@(e => OnClickHeader(2))">@localeService.Get("label_email")</div>
                <div class="grid-header" @onclick="@(e => OnClickHeader(3))">@localeService.Get("label_verified")</div>
                <div class="grid-header-right" @onclick="@(e => OnClickHeader(4))">@localeService.Get("label_active")</div>
                @{
                    int li;
                    for (int i = 0; i < UserIndexes.Count; i++)
                    {
                        li = UserIndexes[i];
                        var ind = UserList[li].Id;
                        <div class="grid-item" @onclick="@(e => OnClickRow(ind))">@UserList[li].CompanyId</div>
                        <div class="grid-item" @onclick="@(e => OnClickRow(ind))">@UserList[li].Alias</div>
                        <div class="grid-item" @onclick="@(e => OnClickRow(ind))">@UserList[li].Email</div>
                        <div class="grid-item" style="text-align:center;font-weight:bold" @onclick="@(e => OnClickRow(ind))">@(UserList[li].IsVerified?"*":"")</div>
                        <div class="grid-item-right" style="text-align: center;font-weight: bold" @onclick="@(e => OnClickRow(ind))">@(UserList[li].IsInactive?"":"*")</div>
                    }
                }
            </div>
        }
    }
</body>

@code {
    private bool loading = true;
    public List<UserModel> UserList = null;
    public int Direction = 1;
    public int Field = 0; // == ID
    public List<int> UserIndexes;
    private string strSearch = "";

    [CascadingParameter]  public IModalService BlazoredModal  { get; set; }


    public int UserCompare(UserModel u1, UserModel u2)
    {
        switch (Field)
        {
            // ID
            case 0: return Direction * u1.CompanyId.CompareTo(u2.CompanyId);
            // Alias
            case 1: return Direction * u1.Alias.CompareTo(u2.Alias);
            // Email
            case 2: return Direction * u1.Email.CompareTo(u2.Email);
            // Verified
            case 3:
                {
                    if (u1.IsVerified)
                    {
                        if (!u2.IsVerified) return Direction;
                    }
                    else
                    {
                        if (u2.IsVerified) return -Direction;
                    }
                }
                break;
            case 4:
                {
                    if (!u1.IsInactive)
                    {
                        if (u2.IsInactive) return Direction;
                    }
                    else
                    {
                        if (!u2.IsInactive) return -Direction;
                    }
                }
                break;
        }
        return 0;
    }

    public async Task UpdateUserList()
    {
        UserList = await userService.GetUserList();
        UserIndexes = Enumerable.Range(0, UserList.Count)
             .Where(i => true)
             .ToList();
    }

    private async Task OnAddUser()
    {
        var formModal = Modal.Show<ModalAddUser>(localeService.Get("title_adduser"));
        var result = await formModal.Result;
        await UpdateUserList();
        this.ShouldRender();
    }

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("btn_add_user");
            localeService.Add("title_user_list");
            localeService.Add("label_search");
            localeService.Add("title_modal_user_details");
            localeService.Add("label_company_id");
            localeService.Add("label_alias");
            localeService.Add("label_email");
            localeService.Add("label_verified");
            localeService.Add("label_active");
            await localeService.UpdateFromServerAsync();
            await UpdateUserList();
            loading = !true;
        }
    }

    private void DoSearch(string val)
    {
        UserIndexes = Enumerable.Range(0, UserList.Count)
        .Where(i => (UserList[i].Alias.Substring(0,val.Length) == val) ||
                    (UserList[i].Email.Substring(0, val.Length) == val) ||
                    (UserList[i].CompanyId.Substring(0, val.Length) == val) )
        .ToList();
    }

    private async Task OnClickRow(int ind)
    {
        var Parameters = new ModalParameters();
        Parameters.Add(nameof(ModalUserDetails.UserId), ind);
        var formModal = BlazoredModal.Show<ModalUserDetails>(localeService.Get("title_modal_user_details"),Parameters);
        var result = await formModal.Result;
        await UpdateUserList();
        this.ShouldRender();
    }

    private void OnClickHeader(int ind)
    {
        UserList.Sort(UserCompare);
        Direction = -Direction;
    }
}
