﻿.grid-container {
    display: grid;
    grid-template-columns: repeat(7,100px);
}

.grid-header {
    padding-left: 10px;
    font-size: 15px;
    text-align: left;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    border: 1px solid lightgray;
}

.grid-item-header {
    background-color: white;
    color: black;
    text-align: left;
    font-size: 10px;
}

.grid-item-daynumber {
    background-color: white;
    color: black;
    text-align: end;
    font-size: 20px;
}

.grid-item-sub {
    background-color: white;
    color: white;
    text-align: end;
    padding-bottom: 0px;
    height: 15px;
    width: 100%;
}

.grid-item-selected {
    background-color: lightgrey;
}

.grid-item-holiday {
    background-color: lightcyan;
}

.grid-item-weekend {
    background-color: lightcyan;
}

.grid-item-illness {
    background-color: red;
}

.grid-item-sickday {
    background-color: hotpink;
}

.grid-item-work {
    background-color: lightgreen;
}

.grid-item-travel {
    background-color: darkolivegreen;
}

.grid-item-dayoff {
    background-color: hotpink;
}

.grid-item-overtime {
    background-color: forestgreen;
}

.grid-item-oncall {
    background-color: lightgreen;
}

.grid-item-small-font {
    padding-right: 2px;
    font-size: 10px;
}

.grid-item-normal-font {
    padding-right: 2px;
    font-size: 17px;
}

