@charset "UTF-8";
/***** Base *****/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
.margin {
    margin-left: 20px;
}
.margin p {
    margin: 0;
}
.home-hover {
  color:#000000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.home-ul:hover .home-hover {
  color:#057AC0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
body {
  background-color: #f6f6f9;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: calc(100vh + 44px);
  position: relative;
}

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh;
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 30px;
  color:#057AC0;
}

h3 {
  font-size: 24px;
  text-align:center;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}

p.small {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(5, 122, 192, 1);
  text-decoration: none;
  position: relative;
}

.title-h1 {
  text-shadow:0px 0px 70px rgba(0,0,0,1);
  color:#ffffff;
}

.section.community a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover, a:active, a:focus {
  position: relative;
}
.section.community a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
input,
textarea {
  color: #000;
  font-size: 14px;
}

input {
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out;
}

input:focus {
  border: 1px solid rgba(5, 122, 192, 1);
}

input[disabled] {
  background-color: #ddd;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(//theme.zdassets.com/theme_assets/122308/27f536d448438fdd88b4004a3223bcc153fb621d.svg) no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: #555;
  width: 100%;
}

select:focus {
  border: 1px solid rgba(5, 122, 192, 1);
}

select::-ms-expand {
  display: none;
}

textarea {
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px;
}

textarea:focus {
  border: 1px solid rgba(5, 122, 192, 1);
}

.container {
  max-width: 1160px;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%;
  }
}

.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-page {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (min-width: 1160px) {
  .error-page {
    padding: 0;
    width: 90%;
  }
}

img.icon-top-home {
  display: block;
  margin: 0 auto;
}

img.icon-top-home-guide {
  width:19%;
  height:auto;
  margin-bottom: 20px;
}
img.icon-top-home-com {
  width:30%;
  height:auto;
  margin-bottom: 36px;
}
img.icon-top-home-knife {
  width:27%;
  height:auto;
  margin-bottom: 29px;
}
img.icon-top-home-bouee {
  width:28%;
  height:auto;
  margin-bottom: 14px;
}
img.icon-search {
  margin-bottom:0;
  vertical-align: middle;
  margin-right: 10px;
}
img.icon-search-1 {
  width: 40px;
}
img.icon-search-2 {
  width: 65px;
}
h3.search-results-subheading {
  display: inline-block;
  color:#000000;
  margin-bottom: 0;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.search-result-header a:hover h3.search-results-subheading {
  color:#057AC0;
  -webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.search-result-header {
  text-align: center;
  padding-top:40px;
  height: 95px;
}
.search-result-link {
  color:#000000;
  -webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.search-result-link:hover {
  color:#057AC0;
  -webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
a.search-result-link:visited {
  color:#057AC0;
}
.dropdown-toggle::after {
  color: inherit;
}
.dropdown-toggle {
  position: relative;
}
.dropdown {
    position: static;
}
.dropdown-menu-end {
  right: -13px;
}
.dropdown-menu {
  border:none;
}

/***** Buttons *****/
.button, [role="button"] {
  color: rgba(5, 122, 192, 1);
  background-color:#057AC0;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 2.34;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-touch-callout: none;
}

@media (min-width: 768px) {
  .button, [role="button"] {
    width: auto;
  }
}

.button::after, [role="button"]::after {
  color: rgba(5, 122, 192, 1);
}

.button:hover, .button:active, .button:focus, .button[aria-selected="true"], [role="button"]:hover, [role="button"]:active, [role="button"]:focus, [role="button"][aria-selected="true"] {
  background-color: rgba(5, 122, 192, 1);
  color: #ffffff;
  text-decoration: none;
}

.button[aria-selected="true"]:hover, .button[aria-selected="true"]:focus, .button[aria-selected="true"]:active, [role="button"][aria-selected="true"]:hover, [role="button"][aria-selected="true"]:focus, [role="button"][aria-selected="true"]:active {
  background-color: #023b5d;
  border-color: #023b5d;
}

.button[data-disabled], [role="button"][data-disabled] {
  cursor: default;
}

.button-blanc, input[type="submit"] {
  background-color: #ffffff;
  border: 0;
  color: rgba(5, 122, 192, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 2.72;
  padding: 0 35px;
  width: 100%;
}
.button-bleu, input[type="submit"] {
  background-color: #057AC0;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.72;
  padding: 0 35px;
}
.article-attachments {
    margin-top: 30px;
}
.attachment-meta.meta-group {
    float: none;
    margin-top: 5px;
}
a.attachment-meta-item.meta-data {
    background-color: #057AC0;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    padding: 9px 21px;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
}
a.attachment-meta-item.meta-data:hover {
    background-color: #023b5d;
  	color: #ffffff;
  	text-decoration: none;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
}
.article-body tr td:nth-child(2), .article-body tr td:nth-child(3), .article-body tr td:nth-child(4) {
    padding-left: 20px;
    border-left: 1px solid rgba(5,122,192,0.3);
}
.article-body tr td:first-child {
    padding-right: 20px;
}
.article-body tr {
    border-bottom: 1px solid rgba(5,122,192,0.3);
}
.article-body tr:last-child {
    border: none;
}

@media (min-width: 768px) {
  .button-blanc, input[type="submit"] {
    width: auto;
    -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  }
}

.button-blanc:hover, .button-blanc:active, .button-blanc:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background-color: #023b5d;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.button-bleu:hover, .button-bleu:active, .button-bleu:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background-color: #023b5d;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.button-blanc[disabled], input[type="submit"][disabled] {
  background-color: #ddd;
}

.button-secondary {
  color: #666;
  border: 1px solid #ddd;
  background-color: transparent;
}

.button-secondary:hover, .button-secondary:focus, .button-secondary:active {
  color: #333333;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}

/***** Tables *****/
.table {
  width: 100%;
  table-layout: fixed;
}

@media (min-width: 768px) {
  .table {
    table-layout: auto;
  }
}

.table th,
.table th a {
  color: #666;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
}

[dir="rtl"] .table th, [dir="rtl"]
.table th a {
  text-align: right;
}

.table tr {
  border-bottom: 1px solid rgba(5,122,192,0.2);
  display: block;
  padding: 20px 0;
}
.table tr:last-child {
    border-bottom: none;
}
@media (min-width: 768px) {
  .table tr {
    display: table-row;
  }
}

.table td {
  display: block;
}

@media (min-width: 768px) {
  .table td {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .table td, .table th {
    padding: 20px 30px;
  }
}

@media (min-width: 768px) {
  .table td, .table th {
    padding: 10px 20px;
    height: 60px;
  }
}

/***** Forms *****/
.form {
    max-width: 1160px;
    margin-bottom: 140px;
    padding: 100px;
    background: #ffffff;
}

.form-field ~ .form-field {
  margin-top: 25px;
}

.form-field label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

.form-field input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.form-field input:focus {
  border: 1px solid rgba(5, 122, 192, 1);
}

.form-field input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-field input[type="text"]:focus {
  border: 1px solid rgba(5, 122, 192, 1);
}

.form-field input[type="checkbox"] {
  width: auto;
}

.form-field .nesty-input {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  outline: none;
  vertical-align: middle;
}

.form-field .nesty-input:focus {
  border: 1px solid rgba(5, 122, 192, 1);
  text-decoration: none;
}

.form-field .hc-multiselect-toggle:focus {
  outline: none;
  border: 1px solid rgba(5, 122, 192, 1);
  text-decoration: none;
}

.form-field textarea {
  vertical-align: middle;
}

.form-field input[type="checkbox"] + label {
  margin: 0 0 0 10px;
}

.form-field.required > label::after {
  content: "*";
  color: #f00;
  margin-left: 2px;
}

.form-field p {
  color: #666;
  font-size: 12px;
  margin: 5px 0;
}

[data-loading="true"] input,
[data-loading="true"] textarea {
  background: transparent url(//theme.zdassets.com/theme_assets/122308/6aae8ce36967837f706ac36deff4b753e43977a4.gif) 99% 50% no-repeat;
  background-size: 16px 16px;
}

.form footer {
    margin-top: 12px;
    padding-top: 30px;
}

.form footer a {
  color: #666;
  cursor: pointer;
  margin-right: 15px;
}

.form .suggestion-list {
  font-size: 13px;
  margin-top: 30px;
}

.form .suggestion-list label {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 5px;
}

.form .suggestion-list li {
  padding: 10px 0;
}

.form .suggestion-list li a:visited {
  color: #023b5d;
}

/***** Header *****/
.header {
  margin: 0 auto;
  position: relative;
  align-items: center;
  display: flex;
  height: 71px;
  justify-content: space-between;
  background-color: #057AC0;
  position: fixed;
  z-index: 999999;
  width: 100%;
  -webkit-box-shadow: 0px -10px 39px 15px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px -10px 39px 15px rgba(0,0,0,0.34);
	box-shadow: 0px -10px 39px 15px rgba(0,0,0,0.34);
}


.logo {
  float: left;
}
.logo img {
  max-height: 35px;
  transition: transform .2s;
  vertical-align: middle;
}
.logo img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}
.user-nav {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .user-nav {
    position: relative;
  }
}

.user-nav[aria-expanded="true"] {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ddd;
  right: 0;
  left: 0;
  top: 71px;
  z-index: 1;
}

.user-nav[aria-expanded="true"] > a {
  display: block;
  margin: 20px;
}

.nav-wrapper {
	float: right;
  margin-top: 4px;
}
.nav-wrapper a {
  border: 0;
  color: #ffffff;
  display: none;
  font-size: 14px;
  padding: 0 20px 0 0;
  width: auto;
}
.nav-wrapper a:before {
  content: "";
  position: absolute;
  width: 79%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 768px) {
  .nav-wrapper a {
    display: inline-block;
  }
}

[dir="rtl"] .nav-wrapper a {
  padding: 0 0 0 20px;
}

.nav-wrapper a:hover, .nav-wrapper a:focus, .nav-wrapper a:active {
  background-color: transparent;
  color: #ffffff;
  text-decoration:none;
}

.nav-wrapper a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-wrapper a.login {
  display: inline-block;
}

.nav-wrapper .icon-menu {
  border: 0;
  color: rgba(5, 122, 192, 1);
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  width: auto;
}

@media (min-width: 768px) {
  .nav-wrapper .icon-menu {
    display: none;
  }
}

[dir="rtl"] .nav-wrapper .icon-menu {
  margin-left: 10px;
  margin-right: 0;
}

.nav-wrapper .icon-menu:hover, .nav-wrapper .icon-menu:focus, .nav-wrapper .icon-menu:active {
  background-color: transparent;
  color: rgba(5, 122, 192, 1);
}

/***** User info in header *****/
.user-info {
  display: inline-block;
  position:relative;
}

.user-info .dropdown-toggle::after {
  display: none;
}

@media (min-width: 768px) {
  .user-info .dropdown-toggle::after {
    display: inline-block;
  }
}

.user-info > [role="button"] {
  border: 0;
  color: rgba(5, 122, 192, 1);
  min-width: 0;
  padding: 0;
  white-space: nowrap;
}

.user-info > [role="button"]:hover {
  color: rgba(5, 122, 192, 1);
  background-color: transparent;
}

.user-info > [role="button"]::after {
  color: #ffffff;
}

[dir="rtl"] .user-info > [role="button"]::after {
  padding-left: 15px;
  padding-right: 0;
}

#user #user-name {
  display: none;
  font-size: 14px;
  color:#ffffff;
}

#user #user-name:before {
  content: "";
  position: absolute;
  width: 74%;
  height: 1px;
  bottom: 0;
  left: 31px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 768px) {
  #user #user-name {
    display: inline-block;
  }
}

#user #user-name:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/***** User avatar *****/
.user-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #ffffff;
  margin-right: 3px;
}

.avatar {
  display: inline-block;
  position: relative;
}

.avatar img {
  height: 40px;
  width: 40px;
}
.footer-inner a {
  opacity:1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer-inner a:hover {
  opacity:0.7;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.avatar .icon-agent::before {
  background-color: rgba(5, 122, 192, 1);
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: -4px;
  color: #ffffff;
  content: "\1F464";
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: center;
  width: 14px;
}

/***** Footer *****/
.footer {
  padding: 30px 0;
  background-color: #00609B;
	position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer a {
  color: #3DAFE8;
  margin: 0 auto;
}

.footer-inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

#footer-logo {
  margin-right: 20px;
  font-size: 12px;
}
#t-o-u {
  margin-left: 20px;
  font-size: 12px;
}

@media (min-width: 1160px) {
  .footer-inner {
    padding: 0;
    width: 90%;
  }
}

.footer-language-selector {
  color: #666;
  display: inline-block;
  font-weight: 300;
}


a.article-list-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0px;
  background-color: #057AC0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a.article-list-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




.article-list-link {
  padding-bottom:5px;
}
/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0 0 15px 0;
  padding: 0;
  width: 50%;
  float: left;
}


.breadcrumbs a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0px;
  background-color: #057AC0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.breadcrumbs a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.breadcrumbs a {
  padding-bottom: 5px;
  color: #000000;
}

@media (min-width: 768px) {
  .breadcrumbs {
    margin: 0;
  }
}

.breadcrumbs li {
  color: #666;
  display: inline;
  font-weight: 300;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs li + li::before {
  content: ">";
  margin: 0 4px;
}

.breadcrumbs li a:visited {
  color: #000000;
}

/***** Search field *****/
.search {
  position: relative;
}
.search-border {
  width:30%;
  float:right;
}
.search-border-result {
  float:none;
  margin:0 auto;
  width:50%;
  margin-top: 80px;
}
.article-contenu {
  clear:both;
      width: 90%;
    max-width: 1160px;
    margin: 0 auto;
    background: #ffffff;
}
.sidebar-title-h3 {
  color:#057AC0;
  text-align:left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.article-inner {
  display: flex;
}
.search input[type="search"] {
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  color: #057AC0;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-appearance: none;
  width: 100%;
}
::placeholder {
    color: #057AC0;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #057AC0;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #057AC0;
}
.search-border input[type="search"] {
  border: 1px solid #057AC0;
  height:32px;
  font-size: 15px;
  padding-left: 36px;
  background: #f6f6f9;
}
[dir="rtl"] .search input[type="search"] {
  padding-right: 40px;
  padding-left: 20px;
  color:#BBBBBB;
}

.search input[type="search"]:focus {
  border: 1px solid rgba(5, 122, 192, 1);
  color: #555;
}

.search::before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #057AC0;
  content: "\1F50D";
  font-size: 18px;
  position: absolute;
  left: 15px;
}
.search-border::before {
  font-size: 16px;
}

[dir="rtl"] .search::before {
  right: 15px;
  left: auto;
}

/***** Hero component *****/
.hero {
  height: 440px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(//theme.zdassets.com/theme_assets/122308/b4de7a828b48fade581e19d49fedc8e664ce882e.png);
  background-size:cover;
  background-position:center top;
}
.overlay-p {
    padding: 23px 0 20px 0;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.overlay-p p {
    max-width: 790px;
    margin: 0 auto;
}
.hero-inner {
      position: relative;
    padding-top: 500px;
    transform: translateY(-50%);
    max-width: 610px;
    margin: 0 auto;
}

.fat-button {
    padding: 26px 90px;
    font-size: 20px;
}
.pop-topic-com li.blocks-item.topics-item {
    margin-bottom: 30px;
}
.pop-topic-com .post-to-community {
    margin-bottom: 0px;
}
.pop-topic-com .blocks-item-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-topic-com img.icon-bottom-home {
  width: 60px;
    margin-bottom: 10px;
    margin-right: 12px;
}
.pop-topic-com .blocks-item:last-child a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#popular-topics.pop-topic-com h4.blocks-item-title {
  text-align:left;
  opacity:1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.topic-hero {
  height: 350px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(//theme.zdassets.com/theme_assets/122308/3e4ff1d7af1e116a72f97d77156d037829288f32.jpg);
  background-size:cover;
  background-position:center center;
}
.topic-hero .search input[type="search"] {
  height: 35px;
}
.search-topic {
  max-width:600px;
  margin: 0 auto;
}
.topic-hero h1.title-h1 {
    margin-bottom: 10px;
}
.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  align-items: baseline;
}

@media (min-width: 768px) {
  .page-header {
    
    
    margin: 0;
  }
}

.page-header .section-subscribe {
  flex-shrink: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .page-header .section-subscribe {
    margin-bottom: 0;
  }
}

.page-header h1 {
  flex-grow: 1;
  margin-bottom: 10px;
}

.page-header-description {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 30px 0;
  word-break: break-word;
  flex-basis: 100%;
}


.page-header .icon-lock::before {
  content: "\1F512";
  font-size: 20px;
  position: relative;
  left: -5px;
  vertical-align: baseline;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .sub-nav {
    align-items: baseline;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .sub-nav input[type="search"] {
    min-width: 300px;
  }
}

.sub-nav input[type="search"]::after {
  font-size: 15px;
}

/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */

#nav-category {
  margin-top:70px;
  overflow: auto;
}

.blocks-list {
  list-style: none;
  padding: 0;
  display: flex;
}


.blocks-item {
  margin: 0 0 0px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  margin-bottom: 60px;
  flex:1;
  padding-top: 0px;
}
.blocks-item:hover .blocks-item-title {
  opacity:0.7;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
img.icon-bottom-home {
    width: 80px;
    margin-bottom: 10px;
}
.blocks-item-link {
  flex:1;
}
@media (min-width: 768px) {
  .blocks-item {
    margin: 0 15px 0px;
    margin-bottom: 50px;
  }
}



.blocks-item:hover *, .blocks-item:focus *, .blocks-item:active * {
  color: #ffffff;
  text-decoration: none;
}

.blocks-item-internal {
  background-color: transparent;
  border: 1px solid #ddd;
}

.blocks-item-internal .icon-lock::before {
  content: "\1F512";
  font-size: 15px;
  bottom: 5px;
  position: relative;
}

.blocks-item-internal a {
  color: #333333;
}


.blocks-item-title {
  margin-bottom: 0;
}

.blocks-item-description {
  font-weight: 300;
  margin: 0;
}

.blocks-item-description:not(:empty) {
  margin-top: 10px;
}

/***** Homepage *****/
li.promoted-articles-item:last-child {
    border-bottom: none;
    padding-bottom: 60px;
}
li.recent-activity-item:nth-child(3) {
    border-bottom: none;
    padding-bottom: 60px;
}
.knowledge-base {
	margin-bottom: 0;
}

.section h2 {
  margin-bottom: 10px;
  text-align: center;
  padding-top:50px;
}

/***** Promoted articles *****/

#community-home {
  width:100%;
  background: #057AC0; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f6f9 0%, #f6f6f9 50%, #057ac0 50%, #057ac0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f6f6f9 0%,#f6f6f9 50%,#057ac0 50%,#057ac0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f6f6f9 0%,#f6f6f9 50%,#057ac0 50%,#057ac0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f9', endColorstr='#057ac0',GradientType=0 ); /* IE6-9 */
}

.promoted-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .promoted-articles {
    flex-direction: row;
  }
}

.promoted-articles-item {
  border-bottom: 1px solid rgba(5,122,192,0.2);
  padding-top:14px;
  padding-bottom:29px;
  margin-left:40px;
  margin-right:40px;
}

@media (min-width: 1024px) {
  .promoted-articles-item {
    padding-right: 30px;
    width: 100%;
    /* Three columns on desktop */
  }
  [dir="rtl"] .promoted-articles-item {
    padding: 0 0 0 30px;
  }
}

.topics-list a:hover p.blocks-item-description {
    color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.topics-list a p.blocks-item-description {
    color: transparent;
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.promoted-articles-item a, .recent-activity-item a {
  color: #333333;
  display: block;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.promoted-articles-item:hover a, .recent-activity-item:hover a {
  color: #057AC0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.recent-activity-controls a:hover {
  text-decoration: underline;
}
.promoted-articles-item:last-child a {
  border: 0;
}

@media (min-width: 1024px) {
  .promoted-articles-item:last-child a {
    border-bottom: none;
  }
}

/***** Community section in homepage *****/
.community {
  text-align: center;
  position: relative;
    height: 300px;
}
.community-link {
  color:#ffffff;
  font-size: 18px;
  font-weight: 900;
}
.community-image {
  min-height: 300px;
  background-image: url(//theme.zdassets.com/theme_assets/122308/ef94d73c4aa8c9357275f53348693fc2a32c5a2a.jpg);
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
      position: absolute;
    top: 0;
    width: 100%;
    z-index: -200;
}
.community h2 {
  color:#ffffff;
  font-size: 70px;
  margin-top: 70px;
  font-weight: 900;
  margin-bottom: 0;
  line-height: 1;
}

.full-width {
    overflow: hidden;
  	width:100%;
}
.recent-activity-controls {
  display:none!important;
}
.community-activity:hover .recent-activity-controls {
  opacity:1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 1024px) {
  .community-featured-posts, .community-activity {
    width: 100%!important;
	}
  .community-featured-posts {
    opacity:1;
    background-color:#ffffff;
  }

  .community-activity {
    opacity:1;
    background-color:#ffffff;
  }
  .community-featured-posts .promoted-articles {
    opacity:1;
  }
  .community-activity .recent-activity-list {
    opacity:1;
  }
  .topics-list a p.blocks-item-description {
    color: #057AC0;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

img.icon-posts {
    width: 52px;
    margin-right: 20px;
}

/***** Recent activity *****/
.recent-activity-header {
  text-align: center;
  margin-bottom: 16px;
  padding-top:50px;
}

.recent-activity-list {
  padding: 0;
  margin-left:40px;
  margin-right:40px;
}

.recent-activity-item {
  border-bottom: 1px solid rgba(5,122,192,0.2);
  overflow: auto;
  padding: 20px 0;
}

.recent-activity-item-parent {
  font-size: 16px;
}

.recent-activity-item-parent, .recent-activity-item-link {
  margin: 6px 0;
  color: #333333;
  display: inline-block;
  width: 100%;
}
.recent-activity-item:nth-child(n+4) {
   display: none;
}

@media (min-width: 768px) {
  .recent-activity-item-parent, .recent-activity-item-link {
    width: 70%;
    margin: 0;
  }
}

.recent-activity-item-link {
  font-size: 14px;
  font-weight: 300;
}

.recent-activity-item-meta {
  margin: 15px 0 0 0;
  float: left;
}

@media (min-width: 768px) {
  .recent-activity-item-meta {
    margin: 0;
    float: left;
  }
  [dir="rtl"] .recent-activity-item-meta {
    float: left;
  }
}

.recent-activity-item-time, .recent-activity-item-comment {
  color: #666;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
}

.recent-activity-item-comment {
  padding-left: 5px;
}

[dir="rtl"] .recent-activity-item-comment {
  padding: 0 5px 0 0;
}

.recent-activity-item-comment::before {
  display: inline-block;
}

.recent-activity-item-comment span::before {
  color: rgba(5, 122, 192, 1);
  content: "\1F4AC";
  display: inline-block;
  font-size: 15px;
  padding-right: 3px;
  vertical-align: middle;
}

[dir="rtl"] .recent-activity-item-comment span::before {
  padding-left: 3px;
}

.recent-activity-controls {
  padding-top: 15px;
  margin-left:40px;
}

/***** Category pages *****/
.section-tree {
    padding-bottom: 90px;
}
.section-tree .section {
  background-color:#ffffff;
  width:90%;
  max-width: 1160px;
  margin:0 auto;
  padding: 30px;
  margin-bottom: 20px;
}
.section-tree .icon-lock::before {
  vertical-align: baseline;
}
ul.article-list {
  margin:0 auto;
  margin-top: 20px;
  width: 80%;
}
.columns {
  float: left;
  width: 30%;
  margin-right: 3.33333%;
}
.article-list:after {
    content: "";
    display: table;
    clear: both;
}
i.fas.fa-arrow-right {
    font-size: 12px;
}
.section-tree-title a {
  margin-bottom: 0;
  font-family: 'Abel', sans-serif;
}
h3.section-tree-title {
  text-align: left;
  margin: 0;
  color:#057AC0;
}
.category-container {
  margin-top: 60px;
}

.section-tree .see-all-articles {
  display: block;
  padding: 15px 0;
  width: 80%;
  font-size: 12px;
  margin: 0 auto;
}

.article-list-item {
  font-size: 16px;
  padding: 0px 0 15px 0;
}

.article-list-item a {
  color: #333333;
  font-size: 14px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-star::before {
  color: rgba(5, 122, 192, 1);
  font-size: 18px;
}

/***** Section pages *****/
.section-container {
  display: flex;
  justify-content: flex-end;
}

.section-content {
  flex: 1;
}

@media (min-width: 1024px) {
  .section-content {
    flex: 0 0 80%;
  }
}

.section-subscribe .dropdown-toggle::after {
  display: none;
}

/***** Article *****/


.article-container {
  width:100%;
  overflow:auto;
  margin-top: 50px;
}
#article-container .article {
  background-color:#ffffff;
  width: 70%;
  float: left;
  margin-bottom: 130px;
}
#article-container .tofu {
  width: 100%;
  background-color:#ffffff;
  float: left;
  margin-bottom: 130px;
}

.article-bonus {
  margin-top: 80px;
}
.figure {
    padding-top: 10px;
    padding-bottom: 10px;
}
.figure p {
    font-size: 12px;
}
.article-header {
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 0;
}
.article-info {
  padding: 80px;
  padding-top: 0;
}
.tofu .article-info {
  padding: 40px;
  padding-top: 0;
}

.article-avatar {
  margin-right: 10px;
}

.article-author {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .article-title {
    flex-basis: 100%;
    /* Take entire row */
  }
}

.article-title .icon-lock::before {
  content: "\1F512";
  font-size: 20px;
  position: relative;
  left: -5px;
  vertical-align: baseline;
}

.article [role="button"] {
  flex-shrink: 0;
  /*Avoid collapsing elements in Safari (https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored)*/
  width: 100%;
}

@media (min-width: 768px) {
  .article [role="button"] {
    width: auto;
  }
}
@media (max-width: 768px) {
  .button-blanc {
    width: auto;
  }
}


.article-meta {
  display: inline-block;
  vertical-align: middle;
}

.article-body img {
  height: auto;
  max-width: 100%;
}

.article-body ul, .article-body ol {
  padding-left: 20px;
  list-style-position: outside;
  margin: 20px 0 20px 20px;
}

[dir="rtl"] .article-body ul, [dir="rtl"] .article-body ol {
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 20px;
}

.article-body ul > ul, .article-body ol > ol, .article-body ol > ul, .article-body ul > ol, .article-body li > ul, .article-body li > ol {
  margin: 0;
}

.article-body ul {
  list-style-type: disc;
}

.article-body a:visited {
  color: #023b5d;
}

.article-body code {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 2px;
}

.article-body pre {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 15px;
  overflow: auto;
  white-space: pre;
}

.article-body blockquote {
  border-left: 1px solid #ddd;
  color: #666;
  font-style: italic;
  padding: 0 15px;
}

.article-body > p:last-child {
  margin-bottom: 0;
}

.article-content {
  line-height: 1.6;
  margin: 10px 0;
  word-wrap: break-word;
}

.article-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.article-comment-count {
  color: #666;
  font-weight: 300;
}

.article-comment-count:hover {
  text-decoration: none;
}

.article-comment-count .icon-comments {
  color: rgba(5, 122, 192, 1);
  content: "\1F4AC";
  display: inline-block;
  font-size: 18px;
  padding: 5px;
}

.article-sidebar, .article-sidebar2 {
  margin-bottom: 100px;
  padding: 0;
  width:25%;
  float: left;
  margin-right: 5%;
}

span.topic-list {
    display: block;
    margin-top: 110px;
}
.fa-arrow-right {
  color:#057AC0;
  margin-right:10px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.topic-list:hover .fa-arrow-right, .post-list:hover .fa-arrow-right {
  margin-right:3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.article-relatives {
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .article-relatives {
    flex-direction: row;
  }
}

.article-relatives > * {
  margin-right: 0;
}

.article-relatives > *:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .article-relatives > * {
    margin-right: 20px;
  }
}

.article-votes {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  text-align: center;
}

.article-vote {
  background: transparent;
  border: 1px solid rgba(5, 122, 192, 1);
  color: rgba(5, 122, 192, 1);
  margin: 10px 5px;
  min-width: 90px;
  width: auto;
}

.article-vote::before {
  font-size: 8px;
  margin-right: 10px;
}

[dir="rtl"] .article-vote::before {
  margin-right: 0;
  margin-left: 10px;
}

.article-vote::after {
  content: attr(title);
  /* Yes/No label*/
}

.article-vote:focus, .article-vote:active {
  background-color: transparent;
  color: rgba(5, 122, 192, 1);
}

.article-vote:hover {
  background-color: rgba(5, 122, 192, 1);
}

.article-vote:hover::before, .article-vote:hover::after, .article-vote[aria-selected="true"]::before, .article-vote[aria-selected="true"]::after {
  color: #ffffff;
}

.article-vote-up::before {
  content: "\2713";
}

.article-vote-down::before {
  content: "\2715";
}

.article-more-questions {
  margin: 10px 0 20px;
  text-align: center;
}

.article-return-to-top {
  border-top: 1px solid #ddd;
}

@media (min-width: 1024px) {
  .article-return-to-top {
    display: none;
  }
}

.article-return-to-top a {
  color: #333333;
  display: block;
  padding: 20px 0;
}

.article-return-to-top a:hover, .article-return-to-top a:focus {
  text-decoration: none;
}

.article-return-to-top .icon-arrow-up::before {
  font-size: 16px;
  margin-left: 5px;
}

[dir="rtl"] .article-return-to-top .icon-arrow-up::before {
  margin-right: 10px;
}

.article-unsubscribe {
  background-color: rgba(5, 122, 192, 1);
  color: #ffffff;
  text-decoration: none;
}

.article-unsubscribe:hover {
  background-color: #023b5d;
  border-color: #023b5d;
}

.sidenav-title {
  font-size: 15px;
  position: relative;
}

.sidenav-item {
  color: #333333;
  display: inline;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 0 5px 0;
  width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.decalage {
  padding: 9px 5px 5px 25px;
  margin-right: 5px;
  order: -1;
}

.sidenav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0px;
  background-color: #057AC0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.sidenav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
a.courselink:before {
    content: "\A";
    position: absolute;
    left: -15px;
    top: 3px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #057AC0;
}
a.courselink:hover {
    text-decoration: underline;
}
.section-article-link {
  font-size:12px!important;
  padding: 5px 0 5px 0;
}


.recent-articles h3,
.related-articles h3 {
  font-size: 15px;
  margin: 20px 0;
}

.recent-articles li,
.related-articles li {
  margin-bottom: 15px;
      width: 50%;
    display: inline-block;
}

/***** Attachments *****/
/* Styles attachments inside posts, articles and comments */
.attachments .attachment-item {
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
}

.attachments .attachment-item:last-child {
  margin-bottom: 0;
}

.attachments .attachment-item::before {
  color: #333333;
  content: "\1F4CE";
  font-size: 15px;
  left: 0;
  position: absolute;
  top: 5px;
}

[dir="rtl"] .attachments .attachment-item {
  padding-left: 0;
  padding-right: 20px;
}

[dir="rtl"] .attachments .attachment-item::before {
  left: auto;
  right: 0;
}

.upload-dropzone span {
  color: #666;
}

/***** Social share links *****/
.share {
  padding: 0;
  white-space: nowrap;
}

.share li, .share a {
  display: inline-block;
}

.share a {
  border-radius: 50%;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  width: 25px;
}

.share a::before {
  color: #057AC0;
  display: block;
  font-size: 23px;
  text-align: center;
  width: 100%;
}

.share a:hover {
  text-decoration: none;
}

.share a:hover::before {
  color: rgba(5, 122, 192, 1);
}

.share-twitter::before {
  content: "\e901";
}

.share-facebook::before {
  content: "\e903";
}

.share-linkedin::before {
  content: "\e900";
}

footer ul.share li a.share-googleplus {
  display:none;
}

/***** Comments *****/
/* Styles comments inside articles, posts and requests */
#comments {
  width:90%;
  margin:0 auto;
  max-width: 1160px;
  margin-top: 30px;
}
.comment {
  margin: 20px 0;
  background:#ffffff;
}

.comment-heading {
  margin-bottom: 5px;
  margin-top: 0;
  text-align:left;
  color:#057AC0;
}

.comment-overview {
  padding: 0;
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  padding-left: 53px;
  max-width: 1160px;
}

.comment-overview p {
  margin-top: 0;
}

.comment-callout {
  color: #666;
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 0;
}

.comment-callout a {
  color: rgba(5, 122, 192, 1);
}

.comment-sorter {
  display: inline-block;
  float: right;
}

.comment-sorter a {
  color: #666;
  font-weight: 300;
  font-size: 13px;
  text-decoration: none;
}

[dir="rtl"] .comment-sorter {
  float: left;
}

.comment-wrapper {
  position: relative;
  padding:45px;
}

.comment-wrapper.comment-official {
  border: 1px solid rgba(5, 122, 192, 1);
  padding: 40px 20px 20px;
}

@media (min-width: 768px) {
  .comment-wrapper.comment-official {
    padding-top: 20px;
  }
}

.comment-info {
  min-width: 0;
  padding-right: 0px;
  width: 100%;
  display:flex;
}

[dir="rtl"] .comment-info {
  padding-right: 0;
  padding-left: 20px;
}

.comment-author {
  flex:1;
  display: flex;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .comment-author {
    justify-content: space-between;
  }
}

.comment-avatar {
  margin-right: 10px;
}

[dir="rtl"] .comment-avatar {
  margin-left: 10px;
  margin-right: 0;
}

.comment-meta {
  flex: 1 0 auto;
}

.comment-labels {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .comment-labels {
    flex-basis: auto;
  }
}

.comment .status-label:not(.status-label-official) {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .comment .status-label:not(.status-label-official) {
    margin-top: 0;
  }
}

.comment-form {
  display: flex;
  padding-top: 30px;
  word-wrap: break-word;
}

.comment-container {
  width: 100%;
}

.comment-form-controls {
  display: none;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  [dir="ltr"] .comment-form-controls {
    text-align: right;
  }
}

.comment-form-controls input[type="submit"] {
  margin-top: 15px;
}

@media (min-width: 1024px) {
  .comment-form-controls input[type="submit"] {
    margin-left: 15px;
  }
  [dir="rtl"] .comment-form-controls input[type="submit"] {
    margin-left: 0;
    margin-right: 15px;
  }
}

.comment-form-controls input[type="checkbox"] {
  margin-right: 5px;
}

.comment-form-controls input[type="checkbox"] [dir="rtl"] {
  margin-left: 5px;
}

.comment-ccs {
  display: none;
}
.cont-over {
  overflow:auto;
  width: 100%;
}
.comment-ccs + textarea {
  margin-top: 10px;
}

.comment-attachments {
  margin-top: 10px;
}

.comment-attachments a {
  color: rgba(5, 122, 192, 1);
}

.comment-body {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
.comment-body h3 {
  text-align:left;
}

.comment-body img {
  height: auto;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.comment-body ul, .comment-body ol {
  padding-left: 20px;
  list-style-position: outside;
  margin: 20px 0 20px 20px;
}

[dir="rtl"] .comment-body ul, [dir="rtl"] .comment-body ol {
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 20px;
}

.comment-body ul > ul, .comment-body ol > ol, .comment-body ol > ul, .comment-body ul > ol, .comment-body li > ul, .comment-body li > ol {
  margin: 0;
}

.comment-body ul {
  list-style-type: disc;
}

.comment-body a:visited {
  color: #023b5d;
}

.comment-body code {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 2px;
}

.comment-body pre {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 15px;
  overflow: auto;
  white-space: pre;
}

.comment-body blockquote {
  border-left: 1px solid #ddd;
  color: #666;
  font-style: italic;
  padding: 0 15px;
}

.comment-mark-as-solved {
  display: inline-block;
}

/***** Vote *****/
/* Used in article comments, post comments and post */
.vote {
  display: inline-block;
  text-align: center;
  width: 35px;
}

.vote a {
  outline: none;
}

.vote a:active, .vote a:hover, .vote a:focus {
  text-decoration: none;
}

.vote-sum {
  color: #666;
  display: block;
  margin: 3px 0;
}

[dir="rtl"] .vote-sum {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.vote-up:hover::before,
.vote-down:hover::before {
  color: rgba(5, 122, 192, 1);
}

.vote-up::before, .vote-down::before {
  color: #666;
  font-size: 24px;
}

.vote-up::before {
  content: "\2B06";
}

.vote-down::before {
  content: "\2B07";
}

.vote-voted::before {
  color: rgba(5, 122, 192, 1);
}

.vote-voted:hover::before {
  color: #023b5d;
}

/***** Actions *****/
/* Styles admin and en user actions(edit, delete, change status) in comments and posts */
.actions {
  text-align: center;
  flex-shrink: 0;
  /*Avoid collapsing elements in Safari*/
}

.actions .dropdown-toggle {
  font-size: 0;
  margin: 15px 0 0 0;
}
.dropdown-toggle h2 {
  margin-bottom: 0;
}
.actions .dropdown-toggle:hover::before, .actions .dropdown-toggle:focus::before, .actions .dropdown-toggle:active::before {
  background-color: #f7f7f7;
}

.actions .dropdown-toggle::before {
  background-color: transparent;
  border-radius: 50%;
  color: #666;
  content: "\2699";
  display: block;
  font-size: 13px;
  margin: auto;
  padding: 5px;
}
#user-menu a[role="menuitem"] {
  color: #fff;
  background:transparent;
}
#user-menu a[role="menuitem"]:before {
   content: "Sign out";
    position: absolute;
    color: #000;
    top: 6px;
    left: initial;
    visibility: visible;
    transform: none;
      background-color: transparent;
}
#user-menu a[role="menuitem"]:hover:before {
   color: #057AC0;
}
#user-menu a.my-activities[role="menuitem"] {
    color: transparent;
  	background:transparent;
}
#user-menu a.my-activities[role="menuitem"]:hover:before {
    color: #057AC0;
  	background:transparent;
}
#user-menu a.my-activities[role="menuitem"]:before {
   content: "My tickets";
    position: absolute;
    color: #000;
    top: 6px;
    left: initial;
    visibility: visible;
    transform: none;
      background-color: transparent;
}
#user-menu a[href^="/hc/en-us/profiles/"] {
  color: transparent;
  background:transparent;
}
#user-menu a[href^="/hc/en-us/profiles/"]:before {
   content: "My activities";
    position: absolute;
    color: #000;
    top: 6px;
    left: initial;
    visibility: visible;
    transform: none;
      background-color: transparent;
}
#user-menu a[href^="/hc/en-us/profiles/"]:hover:before {
   color: #057AC0;
}


/***** Community *****/
.community-hero {
  margin-bottom: 10px;
}

.community-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color:#057AC0;
}

.community-footer h4 {
  color:#fff;
}
.bg-blanc {
    background-color: #fff;
    color: #057AC0;
}
.flex-com {
  display:flex;
  padding-bottom:40px;
}
.community-featured-posts, .community-activity {
  margin-top: 40px;
  width: 49%;
  float:left;
  background-color:#ffffff;
}
.community-featured-posts {
  margin-right: 1%;
}
.community-activity {
  margin-left: 1%;
  padding-bottom:0;
}


.community-header {
  margin-bottom: 30px;
  margin-top: 30px;
  width:100%;
}
.form-header {
  margin-top:90px;
}
.link-all-post {
    display: block;
    width: 100%;
}
.community-header h4 {
  margin-bottom: 0;
}
.community-header h2 {
  margin-bottom:0;
}
.post-to-community {
  margin-bottom: 70px;
}


/* Community topics grid */
.topics {
  max-width: none;
  width: 100%;
}


/* Community topic page */
.topic-header {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  display:block;
  width:100%;
}

@media (min-width: 768px) {
  .topic-header {
    padding-bottom: 20px;
    padding-top: 30px;
  }
}

.topic-header .dropdown {
  display: block;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .topic-header .dropdown {
    border-top: 0;
    display: inline-block;
    margin-right: 20px;
    padding: 0;
  }
}

.no-posts-with-filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Topic, post and user follow button */
.community-follow {
  width: 100%;
}
.com-topic-page .dropdown-menu {
  right:0;
  left: auto;
}
.com-topic-page .dropdown {
  position:relative;
}
@media (min-width: 768px) {
  .community-follow {
    width: auto;
  }
}

.community-follow .dropdown {
  width: 100%;
}

.community-follow [role="button"] {
  line-height: 30px;
  padding: 0 10px 0 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .community-follow [role="button"] {
    width: auto;
  }
}

.community-follow [role="button"]:hover {
  background-color: rgba(5, 122, 192, 1);
}

.community-follow [role="button"]:hover::after, .community-follow [role="button"]:focus::after {
  border-color: #ffffff;
  color: #ffffff;
}

.community-follow [role="button"][aria-selected="true"] {
  background-color: rgba(5, 122, 192, 1);
  color: #ffffff;
}

.community-follow [role="button"][aria-selected="true"]::after {
  border-left: 1px solid #ffffff;
  color: #ffffff;
}

.community-follow [role="button"][aria-selected="true"]:hover {
  background-color: #023b5d;
  border-color: #023b5d;
}

.community-follow [role="button"]::after {
  border-left: 1px solid rgba(5, 122, 192, 1);
  content: attr(data-follower-count);
  color: rgba(5, 122, 192, 1);
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  margin-left: 15px;
  padding-left: 10px;
  position: absolute;
  right: 10px;
}

@media (min-width: 768px) {
  .community-follow [role="button"]::after {
    position: static;
  }
}

[dir="rtl"] .community-follow [role="button"]::after {
  border-left: 0;
  border-right: 1px solid rgba(5, 122, 192, 1);
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

/***** Striped list *****/
/* Used in community posts list and requests list */
.striped-list {
  background: #FFFFFF;
  padding: 20px 35px 20px 35px;
  margin-bottom: 130px;
}

.striped-list-item {
  align-items: flex-start;
  border-bottom: 1px solid rgba(5,122,192,0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0;
}
li:last-child .striped-list-item {
  border-bottom: none;
}

@media (min-width: 768px) {
  .striped-list-item {
    align-items: center;
    flex-direction: row;
  }
}

.striped-list-info {
  flex: 2;
}

.striped-list-title {
  color: #000;
  margin-bottom: 10px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.striped-list li:hover .striped-list-title, .striped-list-title:focus, .striped-list-title:active {
  color:#057AC0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.striped-list-title:visited {
  color: #045a8e;
}

.striped-list .meta-group {
  margin: 5px 0;
}

.striped-list-count {
  color: #666;
  font-weight: 300;
  font-size: 13px;
  justify-content: flex-start;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .striped-list-count {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
}

.striped-list-count-item::after {
  content: "·";
  display: inline-block;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .striped-list-count-item::after {
    display: none;
  }
}

.striped-list-count-item:last-child::after {
  display: none;
}

.striped-list-number {
  font-weight: 300;
  text-align: center;
}

@media (min-width: 768px) {
  .striped-list-number {
    color: #333333;
    display: block;
    font-weight: 400;
  }
}

/***** Status labels *****/
/* Styles labels used in posts, articles and requests */
.status-label {
  background-color: #1eb848;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin-right: 2px;
  padding: 3px 10px;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
}

.status-label:hover, .status-label:active, .status-label:focus {
  text-decoration: none;
}

.status-label-pinned, .status-label-featured, .status-label-official {
  background-color: rgba(5, 122, 192, 1);
}

.status-label-official {
  border-radius: 0;
  margin-right: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .status-label-official {
    border-radius: 0 0 4px 4px;
    right: 30px;
    width: auto;
  }
}

[dir="rtl"] .status-label-official {
  left: 30px;
  right: auto;
}

.status-label-pending, .status-label-not-planned {
  background-color: #eee;
  color: #666;
}

.status-label-pending {
  text-align: center;
}

.status-label-open {
  background-color: #cc3340;
}

.status-label-closed {
  background-color: #ddd;
}

.status-label-solved {
  background-color: #999;
}

.status-label-new {
  background-color: #ffd12a;
}

.status-label-hold {
  background-color: #000;
}

.status-label-open, .status-label-closed, .status-label-solved, .status-label-new, .status-label-hold, .status-label-answered {
  text-transform: lowercase;
}

/***** Post *****/
/*
* The post grid is defined this way:
* Content | Sidebar
* 70%     | 30%
*/
.post {
  flex: 1;
  margin-bottom: 10px;
  padding-top:120px;
}


.post-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .post-container {
    flex-direction: row;
  }
}

.post-header {
  display: flex;
  flex:1;
  margin-bottom: 10px;
  padding: 40px;
    padding-left: 45px;
    padding-right: 45px;
  float: left;
  color: #057AC0;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .post-header {
    align-items: baseline;
    flex-direction: row;
  }
}



.post-title {
  margin-bottom: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .post-title {
    margin-bottom: 0;
    padding-right: 10px;
  }
}

.post-title h1 {
  display: inline;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .post-title h1 {
    margin-right: 5px;
  }
}

.post-author {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding-left:30px;
  margin-top: 30px;
}

.post-avatar {
  margin-bottom: 30px;
}
.post-actions-wrapper {
  padding-right: 30px;
  float:right;
  margin-top:35px;
}
.post-content {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  word-break: break-word;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.post-info-container {
  display: flex;
  margin-bottom: 40px;
}

.post-info {
  min-width: 0;
  padding-right: 45px;
  padding-left: 45px;
  width: 100%;
}

[dir="rtl"] .post-info {
  padding-right: 0;
  padding-left: 20px;
}

.post-meta {
  display: inline-block;
  flex: 1;
  margin-left: 10px;
  vertical-align: middle;
}

[dir="rtl"] .post-meta {
  margin-left: 0;
  margin-right: 10px;
}

.post-body img {
  height: auto;
  max-width: 100%;
  margin:0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-body ul, .post-body ol {
  padding-left: 20px;
  list-style-position: outside;
  margin: 20px 0 20px 20px;
}

[dir="rtl"] .post-body ul, [dir="rtl"] .post-body ol {
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 20px;
}

.post-body ul > ul, .post-body ol > ol, .post-body ol > ul, .post-body ul > ol, .post-body li > ul, .post-body li > ol {
  margin: 0;
}

.post-body ul {
  list-style-type: disc;
}

.post-body a:visited {
  color: #023b5d;
}

.post-body code {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 2px;
}

.post-body pre {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 15px;
  overflow: auto;
  white-space: pre;
}

.post-body blockquote {
  border-left: 1px solid #ddd;
  color: #666;
  font-style: italic;
  padding: 0 15px;
}

.post-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 45px;
}

.post-comment-count {
  color: #666;
  font-weight: 300;
}

.post-comment-count:hover {
  text-decoration: none;
}

.post-comment-count .icon-comments {
  color: rgba(5, 122, 192, 1);
  content: "\1F4AC";
  display: inline-block;
  font-size: 18px;
  padding: 5px;
}

.post-sidebar {
  border-top: 1px solid #ddd;
  width:25%;
  padding: 30px 0;
  text-align: center;
  padding-top:120px;
  background-color: #eee;
  position: fixed;
    height: 100%;
    right: 0;
  z-index: 0;
}
.post-sidebar .search {
    width: 90%;
    margin: 0 auto;
}
.post-sidebar .sidebar-title {
    width: 90%;
  	margin: 0 auto;
  	margin-top:110px;
  	margin-bottom:30px;
}
@media (max-width: 1024px) {
  .post-sidebar {
    border-top: none;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    padding-top: 40px;
    background-color: #eee;
    position: relative;
    z-index: -33;
	}
  .post-sidebar .sidebar-title {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
	}
  span.topic-list {
    display: block;
    margin-top: 60px;
	}
}
@media (max-width: 768px) {
  .community-follow [role="button"][aria-selected="true"] {
      background-color: rgba(5, 122, 192, 1);
      color: #ffffff;
      width: 109px;
      padding: 0 20px 0 0px;
  }
}
@media (max-width: 768px) {
  .article-relatives {
    clear: both!important;
    width: 100%!important;
	}
  .article-votes {
    width: 100%!important;
	}
}
@media (min-width: 1024px) {
  .post-sidebar {
    border: 0;
    width:25%;
    padding-top:120px;
  }
  [dir="rtl"] .post-sidebar {
    padding: 0 50px 0 0;
  }
}

.post-sidebar h5 {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .post-sidebar h5 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
}

.post-comments {
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 1160px;
}

@media (min-width: 1024px) {
  .post-comments {
    margin-bottom: 0;
  }
}

/* Navigation element that collapses on mobile */
.collapsible-nav {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  flex-direction: column;
  max-height: 45px;
  overflow: hidden;
  font-size: 14px;
}

@media (min-width: 768px) {
  .collapsible-nav {
    border: 0;
    height: auto;
    flex-direction: row;
    max-height: none;
  }
}

.collapsible-nav-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .collapsible-nav-list {
    flex-direction: row;
  }
}

.collapsible-nav-list li {
  color: #ddd;
  line-height: 45px;
  order: 1;
}

@media (min-width: 768px) {
  .collapsible-nav-list li {
    line-height: normal;
    margin-right: 30px;
  }
  [dir="rtl"] .collapsible-nav-list li {
    margin-left: 30px;
    margin-right: 0;
  }
  .collapsible-nav-list li a {
    text-decoration: none;
  	padding: 15px 0 11px 0;
  }
}

.collapsible-nav-list li a {
  color: #333333;
  display: block;
}

@media (min-width: 768px) {
  .collapsible-nav-list li:hover {
    border-bottom: 4px solid #ddd;
    -webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
  }
  .collapsible-nav-list li:hover a {
    padding: 15px 0 11px 0;
    text-decoration: none;
  }
}

.collapsible-nav-list li[aria-selected="true"] {
  order: 0;
  position: relative;
}

@media (min-width: 768px) {
  .collapsible-nav-list li[aria-selected="true"] {
    border-bottom: 4px solid rgba(5, 122, 192, 1);
    color:#000;
    order: 1;
    padding: 15px 0 11px 0;
  }
}

.collapsible-nav-list li[aria-selected="true"] a {
  color: #333333;
}

.collapsible-nav-list li[aria-selected="true"]::after {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  content: "\25BE";
  position: absolute;
  right: 0;
}

@media (min-width: 768px) {
  .collapsible-nav-list li[aria-selected="true"]::after {
    display: none;
  }
}

[dir="rtl"] .collapsible-nav-list li[aria-selected="true"]::after {
  left: 0;
  right: auto;
}

.collapsible-nav[aria-expanded="true"] {
  max-height: none;
}

.collapsible-nav[aria-expanded="true"] li[aria-selected="true"]::after {
  content: "\2715";
}

/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
  flex: 1;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

@media (min-width: 1024px) {
  .collapsible-sidebar {
    max-height: none;
    padding: 0;
  }
}

.collapsible-sidebar[aria-expanded="true"] {
  max-height: none;
}

.collapsible-sidebar[aria-expanded="true"] .collapsible-sidebar-title::after {
  content: "\2715";
}

@media (min-width: 1024px) {
  .collapsible-sidebar[aria-expanded="true"] .collapsible-sidebar-title::after {
    display: none;
  }
}

.collapsible-sidebar-title {
  margin-top: 0;
}

.collapsible-sidebar-title::after {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  content: "\25BE";
  position: absolute;
  right: 10px;
}

@media (min-width: 1024px) {
  .collapsible-sidebar-title::after {
    display: none;
  }
}

[dir="rtl"] .collapsible-sidebar-title::after {
  left: 10px;
  right: auto;
}

/***** My activities *****/
.my-activities-nav {
  background-color: #ffffff;
  border: 0;
  margin-bottom: 20px;
  margin-top: 70px;
}
header.my-activities-header {
    margin-top: 20px;
}
.my-activities-sub-nav {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .my-activities-sub-nav li:hover {
    border-bottom: 4px solid #ddd;
  }
}

.my-activities-sub-nav li[aria-selected="true"] {
  border-color: rgba(5, 122, 192, 1);
}

.my-activities-table .striped-list-title {
  /* My activities tables */
  display: block;
  margin-bottom: 10px;
  max-width: 350px;
  white-space: normal;
}

@media (min-width: 1024px) {
  .my-activities-table .striped-list-title {
    margin-bottom: 0;
    max-width: 500px;
    min-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.my-activities-table thead {
  display: none;
}

@media (min-width: 768px) {
  .my-activities-table thead {
    display: table-header-group;
  }
}

.my-activities-table th:first-child,
.my-activities-table td:first-child {
  padding-left: 0;
}

@media (min-width: 1024px) {
  .my-activities-table th:first-child,
  .my-activities-table td:first-child {
    width: 500px;
  }
}

.my-activities-table th:last-child,
.my-activities-table td:last-child {
  padding-right: 0;
}

.my-activities-table td:not(:first-child) {
  display: none;
}

@media (min-width: 768px) {
  .my-activities-table td:not(:first-child) {
    display: table-cell;
  }
}

/* Requests table */
.requests-search {
  width: 100%;
}

.requests-table-toolbar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .requests-table-toolbar {
    flex-direction: row;
  }
}

.requests-table-toolbar .search {
  flex: 1;
  width: 100%;
}

.requests-table-toolbar .request-table-filter {
  width: 100%;
}

@media (min-width: 768px) {
  .requests-table-toolbar .request-table-filter {
    width: auto;
  }
}

.requests-table-toolbar .request-filter {
  display: block;
}

@media (min-width: 768px) {
  .requests-table-toolbar .request-filter {
    margin: 0 0 0 30px;
  }
  [dir="rtl"] .requests-table-toolbar .request-filter {
    margin: 0 30px 0 0;
  }
}

.requests-table-toolbar .request-filter-label {
  font-size: 13px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .requests-table-toolbar .request-filter-label {
    margin-top: 0;
  }
}

.requests-table-toolbar select {
  max-height: 40px;
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .requests-table-toolbar select {
    margin-bottom: 0;
    max-width: 300px;
    width: auto;
  }
}

.requests-table-toolbar .organization-subscribe,
.requests-table-toolbar .organization-unsubscribe {
  line-height: 40px;
  max-height: 40px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .requests-table-toolbar .organization-subscribe,
  .requests-table-toolbar .organization-unsubscribe {
    margin-left: 10px;
  }
  [dir="rtl"] .requests-table-toolbar .organization-subscribe, [dir="rtl"]
  .requests-table-toolbar .organization-unsubscribe {
    margin: 0 10px 0 0;
  }
}

.requests-table-toolbar .organization-unsubscribe {
  background-color: rgba(5, 122, 192, 1);
  color: #ffffff;
}

.requests-table-toolbar + .requests-search-info {
  margin-top: 15px;
}

.requests-table-toolbar + .requests-search-info.meta-data::after {
  content: "";
  margin: 0;
}

.requests-table-toolbar + .requests-search-info + .requests {
  margin-top: 20px;
}

.requests-table-toolbar + .requests {
  margin-top: 40px;
}

.requests .requests-table-meta {
  display: block;
}

@media (min-width: 768px) {
  .requests .requests-table-meta {
    display: none;
  }
}

.requests .requests-table thead {
  display: none;
}

@media (min-width: 768px) {
  .requests .requests-table thead {
    display: table-header-group;
  }
}

.requests .requests-table-info {
  display: block;
}

@media (min-width: 768px) {
  .requests .requests-table-info {
    display: table-cell;
    vertical-align: middle;
    width: auto;
  }
}

.requests .requests-table .requests-link {
  position: relative;
}

.requests .requests-table .requests-sort-symbol {
  position: absolute;
  left: calc(100% + 3px);
  bottom: 0;
  font-size: 10px;
}

/* Following table */
.subscriptions-unsubscribe a {
  background: rgba(5, 122, 192, 1);
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 2.34;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .subscriptions-unsubscribe a {
    width: auto;
  }
}

.subscriptions-unsubscribe a:hover {
  background-color: #023b5d;
  text-decoration: none;
}

.subscriptions-table td:last-child {
  display: block;
}

@media (min-width: 768px) {
  .subscriptions-table td:last-child {
    display: table-cell;
  }
}

.subscriptions-table td:first-child {
  display: flex;
  align-items: center;
}

.subscriptions-table .user-avatar {
  margin-right: 10px;
}

.subscriptions .striped-list-title {
  display: inline-block;
  vertical-align: middle;
}

/* Contributions table */
.contributions-table td:last-child {
  color: #666;
  font-size: 13px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .contributions-table td:last-child {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}

.no-activities {
  color: #666;
}

/***** Request *****/
.request-container {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}
.requests {
    margin-bottom: 130px;
    background: #ffffff;
    padding: 30px;
  	padding-left: 40px;
    padding-right: 40px;
}
@media (min-width: 1024px) {
  .request-container {
    align-items: flex-start;
    flex-direction: row;
  }
}

.request-container .comment-container {
  min-width: 0;
}

.request-breadcrumbs {
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .request-breadcrumbs {
    margin-bottom: 60px;
  }
}

.request-main {
  flex: 1 0 auto;
  order: 1;
}

.request-main .comment-fields, .request-main .request-submit-comment {
  display: none;
}

.request-main .comment-fields.shown {
  display: block;
}

.request-main .request-submit-comment.shown {
  display: inline;
}

@media (min-width: 1024px) {
  .request-main {
    flex: 0 0 66%;
    order: 0;
    min-width: 0;
  }
}

.request-main .comment-form-controls {
  display: block;
}

.request-main .comment-ccs {
  display: block;
}

.request-main .comment-show-container {
  border-radius: 2px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  padding: 8px 15px;
  width: 100%;
}

.request-main .comment-show-container.hidden {
  display: none;
}

.request-main .comment-show-container-content {
  align-self: center;
  color: #666;
  margin-left: 10px;
}

.request-main .form-field.comment-ccs > ul {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.request-main .form-field.comment-ccs > ul[data-hc-focus="true"] {
  border: 1px solid rgba(5, 122, 192, 1);
}

.request-main .form-field.comment-ccs > input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.request-main .comment-ccs + textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.request-main .comment-ccs + textarea:focus {
  border-top: 1px solid rgba(5, 122, 192, 1);
}

.request-main input#mark_as_solved {
  display: none;
}

.request-title {
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .request-title {
    margin-bottom: 0;
    max-width: 66%;
    padding-bottom: 10px;
  }
}

.request-sidebar {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  order: 0;
  display:none;
}
.signature p {
    font-size: 12px;
}
.toggle-wrap {
  display:flex;
}
.ticket-detail:hover {
  cursor:pointer;
}

@media (min-width: 1024px) {
  .request-sidebar {
    background-color: #f7f7f7;
    border: 0;
    font-size: 13px;
  }
}

.request-sidebar h5 {
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

@media (min-width: 1024px) {
  .request-sidebar h5 {
    display: none;
  }
}

.request-details {
  border-right: 1px solid #ddd;
  font-size: 0;
  margin: 0;
  padding-bottom: 20px;
}
.my-activities-following-header {
    margin-bottom: 25px;
}
.notification-notice {
    background: #ffffff;
    border: none;
    z-index: 99999999999;
    position: relative;
}
.notification {
  padding: 13px 0 13px 0;
}
.notification-inner {
    margin: 0 auto;
    padding: 0;
    max-width: 1160px;
    width: 100%;
}
.notification-inner {
    text-align: center;
}
.notification-icon, .notification-text, .notification-dismiss {
    display: inline;
    text-align: center;
}
.notification-text {
    padding: 0 55px 0 4px;
    width: 100%;
    color: #057AC0;
}
.notification-notice .notification-icon::before {
    border-color: #057AC0;
    content: "\2713";
    color: #057AC0;
}
.request-details:last-child {
  border: 0;
  margin-left: 60px;
}

.request-details dt, .request-details dd {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin: 20px 0 0 0;
}

.request-details dd {
  padding: 0 10px;
  width: 60%;
}

.request-details dd::after {
  content: "\A";
  white-space: pre;
}

.request-details dt {
  color: #666;
  font-weight: 300;
  width: 40%;
}

.request-details .request-collaborators {
  display: inline-block;
}

.request-attachments dt, .request-attachments dd {
  width: 100%;
}

.request-attachments dd {
  margin: 10px 0 0 0;
}

.request-form textarea {
  min-height: 120px;
}

.request-follow-up {
  padding-top: 20px;
  padding-bottom: 20px;
}

/***** Pagination *****/
.pagination {
  padding: 40px 0;
  text-align: center;
  padding-bottom: 110px;
}

.pagination * {
  display: inline-block;
}

.pagination li {
  border-radius: 50%;
  height: 40px;
  float: left;
  margin-left: 5px;
  width: 40px;
}

@media (min-width: 768px) {
  .pagination li {
    height: 30px;
    width: 30px;
  }
}

[dir="rtl"] .pagination li {
  float: right;
}

.pagination li:hover:not(.pagination-current) {
  background-color: #f3f3f3;
}

.pagination li:hover:not(.pagination-current) span, .pagination li:hover:not(.pagination-current) a {
  color: #333333;
  text-decoration: none;
}

.pagination a, .pagination span {
  font-size: 15px;
  color: #666;
  padding: 10px 12px;
}

@media (min-width: 768px) {
  .pagination a, .pagination span {
    font-size: 13px;
    padding: 5px 12px;
  }
}

.pagination-current {
  background-color: rgba(5, 122, 192, 1);
}

.pagination-current a, .pagination-current span {
  color: #ffffff;
}

.pagination-first {
  border-radius: 3px 0 0 3px;
}

[dir="rtl"] .pagination-first {
  border-radius: 0 3px 3px 0;
}

.pagination-last {
  border-radius: 0 3px 3px 0;
}

[dir="rtl"] .pagination-last {
  border-radius: 3px 0 0 3px;
}

/***** Metadata *****/
.meta-group {
  display: block;
  float: right;
}

.meta-group * {
  display: inline;
}

.meta-data {
  color: #666;
  font-size: 12px;
  font-weight: 300;
}

.meta-data:not(:last-child)::after {
  content: "\00B7";
  margin: 0 5px;
}

/***** Icons *****/
[class^="icon-"]::before,
[class*=" icon-"]::before,
.icon,
.search::before,
.recent-activity-item-comment span::before,
.article-vote::before,
.attachments .attachment-item::before,
.share a::before,
.vote-up::before,
.vote-down::before,
.actions .dropdown-toggle::before,
.collapsible-nav-list li[aria-selected="true"]::after,
.collapsible-sidebar-title::after,
.search-result-votes::before,
.search-result-meta-count::before {
  font-family: "copenhagen-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.icon-lock::before {
  content: "\1F512";
}

.icon-star::before {
  content: "\2605";
}

.icon-linkedin::before {
  content: "\e900";
}

.icon-twitter::before {
  content: "\e901";
}

.icon-googleplus-::before {
  content: "\e902";
}

.icon-facebook::before {
  content: "\e903";
}

.icon-agent::before {
  content: "\1F464";
}

.icon-close::before {
  content: "\2715";
}

.icon-arrow-up::before {
  content: "\2B06";
}

.icon-arrow-down::before {
  content: "\2B07";
}

.icon-attachments::before {
  content: "\1F4CE";
}

.icon-comments::before {
  content: "\1F4AC";
}

.icon-search::before {
  content: "\1F50D";
}

.icon-vote::before {
  content: "\1F44D";
}

.icon-handle::before {
  content: "\25BE";
}

.icon-check::before {
  content: "\2713";
}

.icon-gear::before {
  content: "\2699";
}

.icon-menu::before {
  content: "\2630";
}

.icon-article::before {
  content: "\1F4C4";
}

.icon-post::before {
  content: "\1F4D4";
}

.icon-notification-alert::before {
  content: "\26A0";
}

.icon-notification-error::before {
  content: "\00D7";
}

.icon-notification-info::before {
  content: "\2139";
}

.icon-notification-success::before {
  content: "\2714";
}

/* User Profiles */
.profile-header {
  padding: 40px 0;
  padding-top:110px;
  background-color: #f7f7f7;
}

.profile-header .container {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .profile-header .container {
    flex-wrap: nowrap;
  }
}

.profile-header .profile-info {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.profile-avatar {
  position: relative;
  line-height: 0;
  align-self: center;
  margin-right: 10px;
}

[dir="rtl"] .profile-avatar {
  margin-left: 10px;
  margin-right: 0;
}

.profile-avatar .user-avatar {
  width: 65px;
  height: 65px;
}

.profile-avatar .icon-agent::before {
  bottom: 0;
  right: 0;
}

.profile-header .basic-info {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.profile-header .basic-info .name {
  margin: 0;
}

.profile-header .options {
  display: flex;
  flex-basis: 100%;
  margin-top: 12px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.options a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.options a:hover {
  background-color: #023b5d!important;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 768px) {
  .profile-header .options {
    flex-wrap: nowrap;
    flex-basis: auto;
    margin-top: 0;
    margin-left: 10px;
  }
  [dir="rtl"] .profile-header .options {
    margin-left: 0;
    margin-right: 10px;
  }
  .profile-header .options > :not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
  [dir="rtl"] .profile-header .options > :not(:last-child) {
    margin-left: 10px;
    margin-right: 0;
  }
}

.profile-header .options [data-action="edit-profile"] {
  background-color: rgba(5, 122, 192, 1);
  border: 0;
  color: #ffffff;
  line-height: normal;
  padding: 8px 20px;
  outline-color: rgba(5, 122, 192, 1);
}

.profile-header .description {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  margin: 15px 0;
  flex-basis: 100%;
}

.profile-stats {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.profile-stats .stat {
  display: flex;
  margin-bottom: 10px;
}

.profile-stats .stat-label {
  color: #666;
  font-weight: 300;
  flex: 0 0 100px;
  margin-right: 10px;
}

[dir="rtl"] .profile-stats .stat-label {
  margin-left: 10px;
  margin-right: 0;
}

.profile-stats-activity {
  border-top: solid 1px #ddd;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .profile-stats-activity {
    border-top: 0;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .profile-stats-activity .stat {
    flex-direction: column;
  }
}

.profile-stats-activity .stat:first-child {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .profile-stats-activity .stat:first-child {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .profile-stats-activity .stat:not(:last-child) {
    margin-right: 40px;
    flex:1;
  }
  [dir="rtl"] .profile-stats-activity .stat:not(:last-child) {
    margin-left: 40px;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .profile-stats-activity .stat-label {
    flex: 0 1 auto;
  }
}

.profile-stats-counters {
  border-bottom: solid 1px #ddd;
}

@media (min-width: 768px) {
  .profile-stats-counters {
    flex: 0 0 160px;
    border-bottom: 0;
    margin-left: 40px;
  }
  [dir="rtl"] .profile-stats-counters {
    margin-left: 0;
    margin-right: 40px;
  }
}

@media (min-width: 1024px) {
  .profile-stats-counters {
    flex: 0 0 160px;
    margin-left: 60px;
  }
  [dir="rtl"] .profile-stats-counters {
    margin-right: 60px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .profile-stats-counters .stat {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .profile-stats-counters .stat {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .profile-stats-counters .stat:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .profile-stats-counters .stat-label {
    flex: 0 1 auto;
  }
}

@media (min-width: 1024px) {
  .profile-stats-counters .stat-label {
    flex: 0 0 100px;
  }
}

.profile-private-badge {
  flex-basis: 100%;
  border: solid 1px rgba(5, 122, 192, 1);
  border-radius: 4px;
  color: rgba(5, 122, 192, 1);
  padding: 5px 20px;
  font-size: 12px;
  text-align: center;
}

.profile-private-badge::after {
  content: "\1f512";
  margin-left: 5px;
  font-family: "copenhagen-icons";
  vertical-align: middle;
  line-height: 15px;
}

@media (min-width: 768px) {
  .profile-private-badge {
    flex-basis: auto;
  }
}

.profile-nav {
  border: 0;
  margin-bottom: 37px;
  border-bottom: 1px solid #ddd;
}

.profile-section {
  width: 100%;
    background: #ffffff;
    padding: 0 60px 0 60px;
    margin-bottom: 140px;
}


.profile-section-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
    margin-top: 60px;
}

.profile-section-title {
  flex-basis: 100%;
  margin-bottom: 0;
}

.profile-section-description {
  flex-basis: 100%;
  padding: 10px 0;
  color: #666;
  font-weight: 300;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .profile-section-description {
    flex: 1 0 50%;
    padding-bottom: 0;
  }
}

.profile-section-sorter {
  flex-basis: 100%;
  border-top: solid 1px #eee;
  font-size: 13px;
}

.profile-section-sorter .dropdown-toggle {
  padding: 10px 0;
  width: 100%;
}

.profile-section-sorter .dropdown-toggle::after {
  position: absolute;
  right: 0;
}

[dir="rtl"] .profile-section-sorter .dropdown-toggle::after {
  left: 0;
  right: initial;
}

@media (min-width: 768px) {
  .profile-section-sorter .dropdown-toggle::after {
    position: relative;
  }
}

@media (min-width: 768px) {
  .profile-section-sorter {
    flex: 0 1 auto;
    padding-top: 0;
    border-top: 0;
    margin-left: 20px;
  }
  [dir="rtl"] .profile-section-sorter {
    margin-left: 0;
    margin-right: 20px;
  }
}

.profile-contribution {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  padding: 20px 0;
  position: relative;
}

.profile-contribution-header {
  margin-bottom: 5px;
}

.profile-contribution-title {
  margin: 0 0 5px 0;
  display: inline;
  line-height: 21px;
  font-size: 15px;
  vertical-align: middle;
}

.profile-contribution-body {
  margin: 10px 0;
}

.profile-contribution-list > .profile-contribution {
  border-top: 1px solid #eee;
  padding-bottom: 45px;
}

@media (min-width: 768px) {
  .profile-contribution-list > .profile-contribution {
    padding-left: 30px;
  }
  [dir="rtl"] .profile-contribution-list > .profile-contribution {
    padding-right: 30px;
    padding-left: 0;
  }
}

.profile-contribution-list > .profile-contribution:last-child {
  border-bottom: 1px solid #eee;
}

.profile-contribution-list > .profile-contribution::before {
  left: 0;
  position: absolute;
  font-size: 16px;
  color: #ccc;
  font-family: "copenhagen-icons";
  line-height: 25px;
}

[dir="rtl"] .profile-contribution-list > .profile-contribution::before {
  right: 0;
}

.profile-contribution-list .profile-contribution-header {
  margin-left: 30px;
}

[dir="rtl"] .profile-contribution-list .profile-contribution-header {
  padding-right: 30px;
  padding-left: 0;
}

@media (min-width: 768px) {
  .profile-contribution-list .profile-contribution-header {
    margin-left: 0;
  }
  [dir="rtl"] .profile-contribution-list .profile-contribution-header {
    padding-right: 0;
  }
}

.profile-comments .profile-contribution-breadcrumbs {
  margin-left: 30px;
}

[dir="rtl"] .profile-comments .profile-contribution-breadcrumbs {
  padding-right: 30px;
  padding-left: 0;
}

@media (min-width: 768px) {
  .profile-comments .profile-contribution-breadcrumbs {
    margin-left: 0;
  }
  [dir="rtl"] .profile-comments .profile-contribution-breadcrumbs {
    padding-right: 0;
  }
}

.profile-section .no-activity,
.profile-section .private-activity {
  display: block;
  margin-top: 40px;
  color: #999;
}

.profile-section .private-activity::before {
  content: "\1f512";
  font-family: "copenhagen-icons";
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  margin-right: 10px;
}

[dir="rtl"] .profile-section .private-activity::before {
  margin-right: 0;
  margin-left: 10px;
}

.profile-activity-list {
  margin-top: 25px;
}

.profile-activity {
  position: relative;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .profile-activity {
    padding-left: 20px;
  }
  [dir="rtl"] .profile-activity {
    padding-right: 20px;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .profile-activity:not(:last-child) {
    border-left: 1px solid #ddd;
  }
  [dir="rtl"] .profile-activity:not(:last-child) {
    border-left: 0;
    border-right: 1px solid #ddd;
  }
}

.profile-activity-header {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

[dir="rtl"] .profile-activity-header {
  margin-left: 0;
  margin-right: 35px;
}

@media (min-width: 768px) {
  .profile-activity-header {
    margin-left: 0;
  }
  [dir="rtl"] .profile-activity-header {
    margin-right: 0;
  }
}

.profile-activity-header .user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  align-self: flex-start;
}

[dir="rtl"] .profile-activity-header .user-avatar {
  margin-left: 10px;
  margin-right: 0;
}

.profile-activity-description {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  margin: 0;
  min-width: 0;
  width: 100%;
}

.profile-activity-description span:first-child {
  font-weight: 600;
  display: inline;
}

.profile-activity-contribution {
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #f7f7f7;
}

@media (min-width: 768px) {
  .profile-activity-contribution {
    margin-top: 0;
    margin-left: 50px;
  }
  [dir="rtl"] .profile-activity-contribution {
    margin-left: 0;
    margin-right: 50px;
  }
}

.profile-activity::before {
  position: absolute;
  left: 0;
  width: 28px;
  border-radius: 50%;
  content: "";
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: 50% 50%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #ccc;
  font-family: "copenhagen-icons";
}

[dir="rtl"] .profile-activity::before {
  right: 0;
}

@media (min-width: 768px) {
  .profile-activity::before {
    left: -14px;
  }
  [dir="rtl"] .profile-activity::before {
    right: -14px;
  }
}

.profile-articles > .profile-contribution::before,
.profile-activity-list > li[class$="-article"]::before {
  content: "\1f4c4";
}

.profile-posts > .profile-contribution::before,
.profile-activity-list > li[class$="-post"]::before {
  content: "\1f4d4";
}

.profile-comments > .profile-contribution::before,
.profile-activity-list > li[class$="-comment"]::before {
  content: "\1f4ac";
  line-height: 35px;
}

/***** Search results *****/
.search-results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  width: 90%;
  max-width: 1160px;
}

@media (min-width: 1024px) {
  .search-results {
    flex-direction: row;
  }
}

.search-results-column {
  background-color:#ffffff;
  padding: 40px;
  float: left;
  padding-top: 0;
  width: 49%;
}
p.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 60px;
  margin-bottom:0;
  font-size:14px;
}
.community-search-result {
  margin-top: 20px;
}
.search-results-list {
  clear: both;
	margin-top: 20px;
}

.search-results-list > li {
  padding: 20px 0;
}
.search-result {
  border-bottom: 1px solid rgba(5,122,192,0.2);
  padding: 20px 0;
}
.search-result:last-child {
  border-bottom: none;
  padding: 20px 0;
  padding-bottom:0;
}
li.meta-data-title {
    float: left;
    width: 70%;
    vertical-align: middle;
}

.search-result-description {
  margin-top: 15px;
  clear:both;
  font-size:14px;
}

.search-result-votes, .search-result-meta-count {
  color: #666;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  padding: 4px 5px;
  position: relative;
}

.search-result-votes::before, .search-result-meta-count::before {
  color: rgba(5, 122, 192, 1);
}

[dir="ltr"] .search-result-votes, [dir="ltr"] .search-result-meta-count {
  margin-left: 5px;
}

[dir="ltr"] .search-result-votes::before, [dir="ltr"] .search-result-meta-count::before {
  margin-right: 3px;
}

[dir="rtl"] .search-result-votes, [dir="rtl"] .search-result-meta-count {
  margin-right: 5px;
}

[dir="rtl"] .search-result-votes::before, [dir="rtl"] .search-result-meta-count::before {
  margin-left: 3px;
}

.search-result-votes::before {
  content: "\1F44D";
}

.search-result-meta-count::before {
  content: "\1F4AC";
}

.search-result .meta-group {
  align-items: center;
}

.search-result-breadcrumbs {
  margin: 0;
}

.search-result-breadcrumbs li:last-child::after {
  content: "·";
  display: inline-block;
  margin: 0 5px;
}






/*CUSTOM CSS*/
.preserve-spaces{
  white-space: pre-wrap;
}
#popular-home {
  background-color:#057AC0;
}
#popular-home h2 {
  color:#ffffff;
  text-align:center;
}
#popular-home h4.blocks-item-title {
  color:#ffffff;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}
#popular-home .link-all-post a {
  color:#ffffff;
}
#popular-topics h2 {
  color:#057AC0;
  text-align:center;
}
#popular-topics h4.blocks-item-title {
  color:#000000;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}
#popular-topics .blocks-item:hover h4.blocks-item-title {
  color:#057AC0;
  -webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
#popular-topics .link-all-post a {
  color:#057AC0;
  -webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.topic-com {
  padding-bottom: 140px;
}
.plop {
  width:90%;
  margin: 0 auto;
  max-width: 1160px;
}
.plop .section360002472753 {
    margin-right: 2%;
  	background-repeat: no-repeat;
    background-size: 50px;
    background-position: 22px 22px;
    background-image: url(//theme.zdassets.com/theme_assets/122308/8c020f4316a64c7efb11085cb8bf6489bef05d45.png);
}
.plop .section360002472733 {
  	background-repeat: no-repeat;
    background-size: 50px;
    background-position: 22px 22px;
    background-image: url(//theme.zdassets.com/theme_assets/122308/536e5ebfe7307a4386d02afb9a3c1282c4542f37.png);
}
.plop .section115003849827 {
  	background-repeat: no-repeat;
    background-size: 50px;
    background-position: 22px 22px;
    background-image: url(//theme.zdassets.com/theme_assets/122308/02ac806c72ee18a534b7c36d459ddd3b2d93a05a.png);
}
.plop ul.article-list {
  margin-left: 62px;
}
.plop h3.section-tree-title {
      margin-left: 60px;
}
.plop .section:last-child {
    width: 100%;
}
.plop .section {
    background-color: #ffffff;
    width: 100%;
    padding: 30px;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
}
.plop ul.article-list {
  columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

@media (max-width: 1024px) {
  .search-results-column {
    width: 100%;
    margin-bottom: 30px;
  }
  .search-results-list {
   display : none;
	}
  .community-search-result {
    display:none;
  }
  .section-tree .section {
    width: 90%;
  }
  .decalage {
    padding: 9px 5px 5px 0px;
  }
  .plop {
    width:90%;
    margin: 0 auto;
    max-width: 1160px;
  }
  .plop .section:first-child {
      margin-right: 2%;
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 22px 22px;
      background-image: url(//theme.zdassets.com/theme_assets/122308/8c020f4316a64c7efb11085cb8bf6489bef05d45.png);
  }
  .plop .section:nth-child(2) {
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 22px 22px;
      background-image: url(//theme.zdassets.com/theme_assets/122308/536e5ebfe7307a4386d02afb9a3c1282c4542f37.png);
  }
  .plop .section:last-child {
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 22px 22px;
      background-image: url(//theme.zdassets.com/theme_assets/122308/02ac806c72ee18a534b7c36d459ddd3b2d93a05a.png);
  }
  .plop ul.article-list {
    margin-left: 62px;
  }
  .plop h3.section-tree-title {
        margin-left: 60px;
  }
  .plop .section:last-child {
      width: 100%;
  }
  .plop .section {
      background-color: #ffffff;
      width: 100%;
      padding: 30px;
      float: none;
      display: inline-block;
      margin-bottom: 20px;
  }
  .plop ul.article-list {
    columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
  }
}


@media (max-width: 768px) {
  ul.article-list .columns {
    width:48%;
  	margin-right:2%;
    padding: 0 0 0 40px
  }
  .article-info {
    padding: 40px;
    padding-top: 0;
  }
  .flex-com {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
	}
  .community-featured-posts, .community-activity {
    float:none;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .community-activity {
    margin-top: 30px;
	}
  #community-home {
    background: #057AC0; /* Old browsers */
		background: -moz-linear-gradient(top, #f6f6f9 0%, #f6f6f9 25%, #057ac0 25%, #057ac0 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #f6f6f9 0%,#f6f6f9 25%,#057ac0 25%,#057ac0 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #f6f6f9 0%,#f6f6f9 25%,#057ac0 25%,#057ac0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f9', endColorstr='#057ac0',GradientType=0 ); /* IE6-9 */
  }
  .blocks-list {
    overflow: auto;
    width: 100%;
    display: block;
  }
  .blocks-item {
    float: left;
    width: 33%;
  }
  
  .blocks-item:nth-child(4), .blocks-item:last-child {
    width: 50%;
  }
  
  .post-header {
    padding: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
	}
  .post-title h1 {
    font-size: 40px;
	}
  .post-author {
    margin-top:0;
  }
  .post-content {
    padding-right: 0;
  }
  .comment-overview {
    padding-left: 30px;
  }
  .comment-body {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 40px;
  }
  .post-content {
    margin-top: 20px;
  }
  .post-info-container {
    margin-bottom: 0px;
  }
  .breadcrumbs {
    width: 100%;
    float: none;
  }
  .search-border {
    width: 100%;
    float: none;
    margin-top: 40px;
  }
  span.page-header-item.post-to-community {
    margin-top: 80px!important;
	}
  .section-tree .section {
    width: 90%;
  }
  .form {
    padding: 60px;
	}
  .post-info {
    padding-right: 30px;
    padding-left: 30px;
	}
  .list-cat-articles {
    display:none;
  }
  #article-container .article {
    width: 100%;
    float: none;
  }
  .article-sidebar, .article-sidebar2 {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .sidebar-title-h3 {
    font-size: 20px;
  }
  .article-container {
    margin-top: 0;
    display:none!important;
  }
  .plop {
    width:90%;
    margin: 0 auto;
    max-width: 1160px;
  }
  .plop .section:first-child {
      margin-right: 2%;
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 22px 22px;
      background-image: url(//theme.zdassets.com/theme_assets/122308/8c020f4316a64c7efb11085cb8bf6489bef05d45.png);
  }
  .plop .section:nth-child(2) {
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 22px 22px;
      background-image: url(//theme.zdassets.com/theme_assets/122308/536e5ebfe7307a4386d02afb9a3c1282c4542f37.png);
  }
  .plop .section:last-child {
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 22px 22px;
      background-image: url(//theme.zdassets.com/theme_assets/122308/02ac806c72ee18a534b7c36d459ddd3b2d93a05a.png);
  }
  .plop ul.article-list {
    margin-left: 62px;
  }
  .plop h3.section-tree-title {
        margin-left: 60px;
  }
  .plop .section:last-child {
      width: 100%;
  }
  .plop .section {
      background-color: #ffffff;
      width: 100%;
      padding: 30px;
      float: none;
      display: inline-block;
      margin-bottom: 20px;
  }
  .plop ul.article-list {
    columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
  }
}


@media (max-width: 600px) {
  .title-h1 {
    font-size: 9vw;
	}
  .form {
    padding: 30px;
	}
  .hero {
    height: 330px;
  }
  .hero-inner {
    padding-top: 390px;
  }
  #nav-category ul li {
    width: 50%!important;
    margin-bottom: 30px;
	}
  .blocks-item {
    float: left;
    width: 50%;
  }
  .blocks-item:last-child {
    width: 100%;
  }
  ul.article-list .columns {
    width:100%;
  	margin-right:0;
  }
  .plop ul.article-list {
    margin-left: 0px;
	}
}


@media (max-width: 400px) {
  .logo a p {
    display:none!important;
  }
  ul.article-list {
    columns: 1!important;
    -webkit-columns: 1!important;
    -moz-columns: 1!important;
  }
  .plop ul.article-list {
    padding:0px;
  }
}

