﻿@page "/"
    @using System.Security.Cryptography;
    @inject NavigationManager NavigationManager
    @inject ItendBlazor.Services.UserService userService
    @inject ItendBlazor.Services.LocaleService localeService
    @inject ItendBlazor.Services.RefreshService refreshService
    @inject IJSRuntime JSRuntime

    @{
        if (!index_loading)
        {
            if (!userService.UserAuthenticated)
            {
                <body>
                    <div class="body"></div>
                    <div class="grad"></div>
                    <div class="header">
                        <div>Time<span>Site</span></div>
                    </div>
                    <br>
                    <div class="login">
                        <input type="text" @bind-value="@login" placeholder="@localeService.Get("label_username")" name="user"><br>
                        <input type="password" @bind-value="@password" placeholder="@localeService.Get("label_password")" name="password"><br>
                        <input type="button" value="@localeService.Get("btn_login")" @onclick="OnClick" />
                    </div>
                </body>
            }
            else
            {
                <body>
                    <div class="header">
                        <div>Welcome <span>@userService.Alias</span></div>
                    </div>
                </body>
            }
        }
        else
        {
            <h3>@localeService.Get("title_loading")</h3>
        }
    }

    @code {
        private string login = string.Empty;
        private string password = string.Empty;
        private bool index_loading = true;

        private async Task OnClick()
        {
            bool UserOk = await userService.AuthenticateUser(login, password);
            if (UserOk)
            {
                await localeService.SetLocale(userService.User.Locale);
                // if (password == string.Empty)
                // {
                //    NavigationManager.NavigateTo("/NewUser");
                // }
                // else
                {
                    NavigationManager.NavigateTo("/home");
                }
            }
        }

        protected override async Task OnInitializedAsync()
        {
            if (index_loading)
            {
                localeService.Add("label_username");
                localeService.Add("label_password");
                localeService.Add("btn_login");
                localeService.Add("title_welcome");
                await localeService.UpdateFromServerAsync();
                index_loading = !true;
            }
        }
    }