﻿@page "/NewUser"
@using ItendSolution.Models
@inject NavigationManager NavigationManager
@inject ItendBlazor.Services.UserService userService
@inject ItendBlazor.Services.LocaleService localeService

@if (!loading)
{
    <h3>@localeService.Get("title_new_user")</h3>
        <body>
            <br>
            <div class="login">
                <input type="password" @bind-value="@password" placeholder="@localeService.Get("label_new_password")" name="password"><br>
                <input type="password" @bind-value="@passwordAgain" placeholder="@localeService.Get("label_password_again")" name="password"><br>
                <input type="button" value="@localeService.Get("btn_change")" @onclick="OnClick" />
            </div>
        </body>
}

@code {
    private bool loading = true;
    private string login = string.Empty;
    private string password = string.Empty;
    private string passwordAgain = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("title_new_user");
            localeService.Add("label_username");
            localeService.Add("label_new_password");
            localeService.Add("label_password_again");
            localeService.Add("btn_change");
            await localeService.UpdateFromServerAsync();
            loading = !true;
        }
    }

    private async Task OnClick()
    {
        bool ok = await userService.ChangePassword(password);
        if (ok) NavigationManager.NavigateTo("/home");
    }
}
