﻿@page "/Common/WorkmodelSetup"
@using ItendBlazor.Services
@inject LocaleService localeService
<h3>@localeService.Get("title_workmodel_setup")</h3>
<style>
    .grid-menu {
        display: grid;
        grid-template-columns: repeat(4,200px);
    }

    .grid-menu-text {
        color: black;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
    }

    div.pointer {
        cursor: pointer;
    }
</style>

@if (!loading)
{
    <body>
        <div class="grid-menu">
            <div>
                <button style="width:100px" @onclick="ClickEdit">@localeService.Get("btn_edit")</button>
                <button style="width:100px" @onclick="ClickDelete">@localeService.Get("btn_delete")</button>
            </div>
        </div>
    </body>
}


@code {

    private bool loading = true;

    private void ClickEdit()
    {

    }

    private void ClickDelete()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("btn_edit");
            localeService.Add("btn_delete");
            localeService.Add("title_workmodel_setup");
            await localeService.UpdateFromServerAsync();
            loading = !true;
        }
    }
}
