﻿@page "/worktime"
@using ItendBlazor.Services
@inject HttpClient Http
@inject LocaleService localeService

<style>
    .input-grid {
        display: grid;
        grid-template-columns: 150px 200px 150px 150px;
        grid-template-rows: 55px 52px 20px;
    }
</style>
<div>
    @{
        if (!loading)
        {
            <EditForm OnValidSubmit="OnSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="input-grid">
                    <div>
                        @localeService.Get("label_overtime_start_date")
                    </div>
                    <div>
                        <InputText id="StartDate" type="date"/>
                    </div>
                    <div>
                        @localeService.Get("label_overtime_start_time")
                    </div>
                    <div>
                        <InputText id="StartTime" type="time"/>
                    </div>
                    <div>
                        @localeService.Get("label_overtime_end_date")
                    </div>
                    <div>
                        <InputText id="EndDate" type="date"/>
                    </div>
                    <div>
                        @localeService.Get("label_overtime_end_time")
                    </div>
                    <div>
                        <InputText id="EndTime" type="time"/>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" @onclick="BlazoredModal.Cancel">@localeService.Get("btn_cancel")</button>
                <button type="submit" class="btn btn-primary">@localeService.Get("btn_submit")</button>
            </EditForm>
        }
    }

</div>

@code {

    private bool loading = true;

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    private void OnSubmit()
    {
        BlazoredModal.Close();
    }

    protected override async Task OnInitializedAsync()
    {
        if (loading)
        {
            localeService.Add("label_overtime_start_date");
            localeService.Add("label_overtime_start_time");
            localeService.Add("label_overtime_end_date");
            localeService.Add("label_overtime_end_time");
            localeService.Add("btn_submit");
            localeService.Add("btn_cancel");
            await localeService.UpdateFromServerAsync();
            loading = !true;
        }
    }
}