﻿@page "/NavMenu"
@using ItendBlazor.Services
@inject LocaleService localeService
@inject UserService userService
@implements IDisposable
@inject RefreshService refreshService
@inject IModalService Modal
@inject NavigationManager NavigationManager


@{
    @if (!navmenu_loading)
    {
        @if (showmenu)
        {
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="home">@localeService.Get("menu_attendance")</a>
                <button class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="@NavMenuCssClass">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> @localeService.Get("menu_home")
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Calendar">
                            <span class="oi oi-calendar" aria-hidden="true"></span> @localeService.Get("menu_calendar")
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Preferences" @onclick="OnPreferences">
                            <span class="oi oi-cog" aria-hidden="true"></span>@localeService.Get("menu_preferences")
                        </NavLink>
                    </li>
                    @if (!collapsePreferences)
                    {
                        <li class="nav-item px-4">
                            <NavLink id="1" class="nav-link" href="/ChangePassword">
                                <span class="oi oi-list" aria-hidden="true"></span>@localeService.Get("menu_change_password")
                            </NavLink>
                        </li>
                    }
                    @if (userService.User.IsAdmin)
                    {
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/AdminPages/UserManagement" @onclick="OnUserManagement">
                                <span class="oi oi-expand-down" aria-hidden="true"></span>@localeService.Get("menu_manage_users")
                            </NavLink>
                        </li>
                        if (!collapseUserMgmt)
                        {
                            <li class="nav-item px-4">
                                <NavLink id="1" class="nav-link" href="/AdminPages/AdminUserList">
                                    <span class="oi oi-list" aria-hidden="true"></span>@localeService.Get("menu_user_list")
                                </NavLink>
                            </li>
                            <li class="nav-item px-4">
                                <NavLink id="3" class="nav-link" href="/AdminPages/AddUser" @onclick="OnAddUser">
                                    <span class="oi oi-plus" aria-hidden="true"></span>@localeService.Get("menu_add_user")
                                </NavLink>
                            </li>
                        }
                    }
                    @if (userService.User.IsAdmin || userService.User.IsAccounting)
                    {
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="Accounting/AccountingHome">
                                <span class="oi oi-list" aria-hidden="true"></span>@localeService.Get("menu_reporting")
                            </NavLink>
                        </li>
                    }
                </ul>
            </div>
        }
    }
}


@code {
    private bool collapseNavMenu = false;
    private bool navmenu_loading = true;
    private bool showmenu => userService.UserAuthenticated;
    private bool showadmin => userService.Admin;
    private bool showaccounting => userService.Accounting;
    private bool collapseUserMgmt = true;
    private bool collapsePreferences = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void OnPreferences()
    {
        collapsePreferences = !collapsePreferences;
        this.StateHasChanged();
    }

    private void OnUserManagement()
    {
        collapseUserMgmt = !collapseUserMgmt;
        this.StateHasChanged();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        this.StateHasChanged();
    }

    private void RefreshMenu()
    {
        collapseNavMenu = false;
        this.StateHasChanged();
    }

    protected override void OnInitialized()
    {
        localeService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        localeService.OnChange -= StateHasChanged;
    }


    private async Task OnAddUser()
    {
        var formModal = Modal.Show<Client.Pages.AdminPages.ModalAddUser>(localeService.Get("title_adduser"));

        var result = await formModal.Result;

        if (result.Cancelled)
        {
        }
        else
        {
        }
    }

    private async Task OnImportUsers()
    {
        Console.WriteLine("Inport Users");
    }


    protected override async Task OnInitializedAsync()
    {
        if (navmenu_loading)
        {
            // refreshService.RefreshRequested += RefreshMenu;
            localeService.Add("menu_home");
            localeService.Add("menu_calendar");
            localeService.Add("menu_attendance");
            localeService.Add("menu_admin");
            localeService.Add("menu_reporting");
            localeService.Add("menu_add_user");
            localeService.Add("title_adduser");
            localeService.Add("menu_user_list");
            localeService.Add("menu_preferences");
            localeService.Add("menu_manage_users");
            localeService.Add("menu_import_users");
            localeService.Add("menu_change_password");
            //localeService.Add("");
            await localeService.UpdateFromServerAsync();
            Console.WriteLine(localeService.Get("title_adduser"));
            navmenu_loading = !true;
        }
    }
}

